force-app/main/default/flows/AAA_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_art_approved</name>
        <label>Test art approved</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>artapproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>corey@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hey, please take this quick survey to help us serve you better!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>AAA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>!AAA_Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_test</name>
        <label>Screen test</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Test_art_approved</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>artapproved</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024se4D&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684949256000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/p&gt;&lt;p&gt;Holy heroics!﻿﻿&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your order has arrived faster than a speeding bullet! We hope it&apos;s everything you were hoping for and more! As a company serving those who serve, we take our responsibility to support your heroic mission very seriously. We can&apos;t thank you enough for trusting us here at Sunday Cool with your group&apos;s custom apparel needs.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;But could we ask our hero (that&apos;s you!) for one more favor? We need your feedback to ensure we provide the most remarkable customer service, second-to-none apparel, and products to aid you in your mission. So, please put your cape on and take a few minutes to&amp;nbsp;&lt;a href=&quot;https://www.sundaycool.com/feedback&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(241, 115, 122);&quot;&gt;complete our experience survey&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your feedback is our secret weapon in the fight against the status quo, and we promise to set you up for success and create a remarkable experience at every step. If your order is not right, we will make it right. We&amp;nbsp;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;g&lt;/span&gt;uarantee it 100%.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thanks for your time, hero. We know you have a lot on your utility belt, so we appreciate your help in making us better partners in your mission!&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Stay super,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Carll and the Sunday Cool Fam&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.sundaycool.com/feedback&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(241, 115, 122); font-size: 20px;&quot;&gt;&lt;u&gt;Take The Survey!&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tttt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Hey, please take this quick survey to help us serve you better!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
