force-app/main/default/flows/Add_Florida_Sales_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Invoicetax</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Tax_exempt</name>
        <label>Tax exempt?</label>
        <locationX>569</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_exempt_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tax_Exempt_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_tax</targetReference>
            </connector>
            <label>Tax exempt false</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculatesalestaxAMOUNT</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}   *  0.07</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateSalesTaxPercentage</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SalesAmountofGoods__c} *7)/{!$Record.Amount}</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>Add Florida Sales Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Florida Sales Tax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_invoice_Tax</name>
        <label>Update invoice Tax</label>
        <locationX>792</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OPP_ID_in_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Tax__c</field>
            <value>
                <elementReference>Invoicetax</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_tax</name>
        <label>Update quote tax</label>
        <locationX>793</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Update_invoice_Tax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>CalculatesalestaxAMOUNT</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Tax_exempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Florida_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
