force-app/main/default/flows/Adjust_Inventory_GL_from_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Inbound</name>
        <label>Assign Inbound</label>
        <locationX>528</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Live_IQA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Deficit_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.Purpose_for_IIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Inbound_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inv_Adj_to_Collection</name>
        <label>Assign Inv Adj to Collection</label>
        <locationX>616</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>invAdjUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invAdjUpdateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Clear_Deficit_From_Inv_Adjustment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound</name>
        <label>Assign Outbound</label>
        <locationX>968</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Holding_IQA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Physical Inventory Count Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Overage_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundCreateSingle.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Outbound_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Inbound_to_Collection</name>
        <label>Assign Single Inbound to Collection</label>
        <locationX>528</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>inboundCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inboundCreateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Clear_Deficit_From_Inv_Adjustment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Outbound_to_Collection</name>
        <label>Assign Single Outbound to Collection</label>
        <locationX>968</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>outboundCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>outboundCreateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Deficit_Update_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Deficit_From_Inv_Adjustment</name>
        <label>Clear Deficit From Inv. Adjustment</label>
        <locationX>616</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>invAdjUpdateSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invAdjUpdateSingle.WH1_Deficit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inbound_or_Outbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Inbound</name>
        <label>Copy 1 of Assign Inbound</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IWA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.WH1_Deficit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.Purpose_for_IIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundCreateSingle.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Single_Inbound_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Single_Inbound_to_Collection</name>
        <label>Copy 1 of Assign Single Inbound to Collection</label>
        <locationX>616</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>inboundCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inboundCreateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Deficit_From_Inv_Adjustment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_Deficit_From_Inv_Adjustment</name>
        <label>Copy 1 of Clear Deficit From Inv. Adjustment</label>
        <locationX>528</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>invAdjUpdateSingle.Deficit_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invAdjUpdateSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invAdjustmentLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Deficit_Update_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Clear_Deficit_From_Inv_Adjustment</name>
        <label>Copy 2 of Clear Deficit From Inv. Adjustment</label>
        <locationX>616</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>invAdjUpdateSingle.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>invAdjustmentLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Deficit_Update_Exist</name>
        <label>Does Deficit Update Exist</label>
        <locationX>748</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>invAdjustmentLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deficit_Update_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjUpdateSingle.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inv_Adj_to_Collection</targetReference>
            </connector>
            <label>Deficit Update Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_or_Outbound</name>
        <label>Inbound or Outbound?</label>
        <locationX>748</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Does_Deficit_Update_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjustmentLoop.Deficit_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invAdjustmentLoop.Overage_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorOutScreen</targetReference>
            </connector>
            <label>Error out</label>
        </rules>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjustmentLoop.Deficit_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Must_have_Aux_Finished_IQA</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjustmentLoop.Overage_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_WH1</name>
        <label>Inbound WH1</label>
        <locationX>748</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Inbound_or_Outbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_in_WH1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjustmentLoop.WH1_Deficit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WH1_IWA</targetReference>
            </connector>
            <label>Needs in WH1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Must_have_Aux_Finished_IQA</name>
        <label>Must have Aux Finished IQA</label>
        <locationX>660</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Does_Deficit_Update_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Aux_Finished_IQA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invAdjustmentLoop.Live_IQA__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inbound</targetReference>
            </connector>
            <label>Has Aux Finished IQA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Adjust Inventory GL from Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adjust Inventory GL from Project</label>
    <loops>
        <name>invAdjustmentLoop</name>
        <label>invAdjustmentLoop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>getInvAdjustment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inbound_WH1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deficit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>finalWarning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WH1_IWA</name>
        <label>Get WH1 IWA</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Inbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invAdjustmentLoop.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UhZMAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInvAdjustment</name>
        <label>getInvAdjustment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invAdjustmentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inv_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deficit</name>
        <label>Update  Deficit</label>
        <locationX>176</locationX>
        <locationY>2390</locationY>
        <inputReference>invAdjUpdateCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>errorOutScreen</name>
        <label>errorOutScreen</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsgTwoAdjustments</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 71, 71); font-size: 20px;&quot;&gt;ERROR: Adjustment has been stopped!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!invAdjustmentLoop.Product__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;has both a deficit and a overage.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please transfer to resolve, and restart adjustment flow. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalWarning</name>
        <label>finalWarning</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getInvAdjustment</targetReference>
        </connector>
        <fields>
            <name>warnMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 57, 57); font-size: 24px;&quot;&gt;WARNING! EXECS ONLY!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(193, 57, 57); font-size: 14px;&quot;&gt;This action will permanently adjust 14000 General Ledger account by creating inbound and outbound inventory movements for all entries to this project!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>adjMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(0, 0, 0);&quot;&gt;Adjustment amount: {!Get_Project.Total_Adjustment_Cost__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Adjustment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>Adjustment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Adjust GL 14000</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inboundCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>inboundCreateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>invAdjUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inv_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>invAdjUpdateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inv_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>outboundCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>outboundCreateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>projectUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
