force-app/main/default/flows/ARF_to_Op_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Op_in_ARF</name>
        <label>Op in ARF?</label>
        <locationX>724</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Put_Op_in_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_C__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_My_Order_to_ARF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project</name>
        <label>Project?</label>
        <locationX>726</locationX>
        <locationY>802</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Art_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROJECT!!</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Order__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_My_Order_to_Project</targetReference>
            </connector>
            <label>Is a Project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARF to Op - Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARF to Op - Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_My_Order_to_ARF</name>
        <label>Add My Order to ARF</label>
        <locationX>567</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Check_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>My_Order__c</field>
            <value>
                <elementReference>$Record.Opportunity_C__r.My_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Box</name>
        <label>Check Box</label>
        <locationX>749</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ARF_Template__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arf_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Put_Op_in_Order</name>
        <label>Put Op in Order</label>
        <locationX>952</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>Check_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_C__c</field>
            <value>
                <elementReference>$Record.My_Order__r.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_My_Order_to_Project</name>
        <label>Update My Order to Project</label>
        <locationX>526</locationX>
        <locationY>893</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <stringValue>TURN INTO PROJECT!!</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <start>
        <locationX>605</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Op_in_ARF</targetReference>
        </connector>
        <object>ARF_Templates__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
