force-app/main/default/flows/ARF_to_Op_Sticker_Pack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Op_in_ARF</name>
        <label>Op in ARF/</label>
        <locationX>727</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Put_Op_in_ARF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARF_has_Op</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_My_Order_to_ARF</targetReference>
            </connector>
            <label>ARF has Op</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARF to Op -Cooly/Mask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARF to Op -Sticker Pack</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_My_Order_to_ARF</name>
        <label>Add My Order to ARF</label>
        <locationX>559</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Check_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>My_Order__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.My_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Box</name>
        <label>Check Box</label>
        <locationX>764</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arf_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Put_Op_in_ARF</name>
        <label>Put Op in ARF</label>
        <locationX>881</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Check_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.My_Order__r.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Op_in_ARF</targetReference>
        </connector>
        <object>ARF_Sticker_Pack__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
