force-app/main/default/flows/ARF_in_Op_artScheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendartstartemial</name>
        <label>sendartstartemial</label>
        <locationX>449</locationX>
        <locationY>1332</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Art_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Art_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ArtEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project Stage - ART STARTED!!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_ARF_in_Op</name>
        <label>Any ARF in Op?</label>
        <locationX>658</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Art_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ARF</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 12) AND (9 OR 10) AND 11</conditionLogic>
            <conditions>
                <leftValueReference>Get_ARF_Coolyz_Masks.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Embroidery.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Sticker_Pack.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CSA_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_ASI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Woothoops.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consult.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production Schedule/Quote Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_to_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DTF_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_to_art</targetReference>
            </connector>
            <label>Has Arf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Art_Type</name>
        <label>Art Type</label>
        <locationX>425</locationX>
        <locationY>891</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consult_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consult.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Send_to_art</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consult</targetReference>
            </connector>
            <label>Consult True</label>
        </rules>
        <rules>
            <name>CSA_true</name>
            <conditionLogic>1 AND (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Update_Send_to_art</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CSA_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CSA_ARF.What_Kind_of_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DTF_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DTF_ARF.What_Kind_of_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CSA</targetReference>
            </connector>
            <label>CSA true</label>
        </rules>
        <rules>
            <name>Hourly_Tue</name>
            <conditionLogic>1 AND (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_to_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CSA_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CSA_ARF.What_Kind_of_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOURLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DTF_ARF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DTF_ARF.What_Kind_of_Art__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOURLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hourly</targetReference>
            </connector>
            <label>Hourly Tue</label>
        </rules>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ARF_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Send_to_art</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_op_Template</targetReference>
            </connector>
            <label>Template</label>
        </rules>
        <rules>
            <name>ASI</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Update_Send_to_art</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Woothoops.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_ASI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Sticker_Pack.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Embroidery.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ARF_Coolyz_Masks.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_ASI</targetReference>
            </connector>
            <label>ASI</label>
        </rules>
    </decisions>
    <decisions>
        <name>exclude_from_portal_emails</name>
        <label>exclude from portal emails</label>
        <locationX>688</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sendartstartemial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.exclude_from_portal_emails_del__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Art_Type</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_My_order</name>
        <label>No My order</label>
        <locationX>776</locationX>
        <locationY>1129</locationY>
        <defaultConnector>
            <targetReference>Art_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nomyorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Order__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exclude_from_portal_emails</targetReference>
            </connector>
            <label>nomyorder</label>
        </rules>
    </decisions>
    <description>V13 - Fixed Sender bug
V10 - email added with Video about art
V4 - added art type decisions
V3- changed filter from the Start to the Decision</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTime_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>{!user_name.Name}</expression>
    </formulas>
    <interviewLabel>ARF is in OP flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARF in Op Schedule ART</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ARF_ASI</name>
        <label>Get ARF ASI</label>
        <locationX>1110</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_ASI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARF_Coolyz_Masks</name>
        <label>Get ARF Coolyz&amp;Masks</label>
        <locationX>907</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_ASI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_Coolyz_Masks__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARF_Embroidery</name>
        <label>Get ARF Embroidery</label>
        <locationX>1109</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_Sticker_Pack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_Embroidery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARF_Sticker_Pack</name>
        <label>Get ARF Sticker Pack</label>
        <locationX>895</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DTF_ARF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_Sticker_Pack__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARF_Template</name>
        <label>Get ARF Template</label>
        <locationX>690</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_Woothoops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARF_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_Templates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARF_Woothoops</name>
        <label>Get ARF Woothoops</label>
        <locationX>690</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_Coolyz_Masks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_WootHoops__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consult</name>
        <label>Get Consult</label>
        <locationX>1268</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_Embroidery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consult_ARF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSA_ARF</name>
        <label>Get CSA ARF</label>
        <locationX>906</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ARF_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Art_Request_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DTF_ARF</name>
        <label>Get DTF ARF</label>
        <locationX>789</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_ARF_in_Op</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_DTF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>user_name</name>
        <label>user name</label>
        <locationX>1123</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSA_ARF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consult</name>
        <label>Update Consult</label>
        <locationX>161</locationX>
        <locationY>1030</locationY>
        <inputAssignments>
            <field>New_Consult__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CSA</name>
        <label>Update CSA</label>
        <locationX>137</locationX>
        <locationY>763</locationY>
        <inputAssignments>
            <field>Art_Type__c</field>
            <value>
                <stringValue>CSA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hourly</name>
        <label>Update Hourly</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Art_Type__c</field>
            <value>
                <stringValue>Hourly</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_op_Template</name>
        <label>Update op Template</label>
        <locationX>330</locationX>
        <locationY>655</locationY>
        <inputAssignments>
            <field>Art_Type__c</field>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_to_art</name>
        <label>Update Send to art</label>
        <locationX>782</locationX>
        <locationY>997</locationY>
        <connector>
            <targetReference>no_My_order</targetReference>
        </connector>
        <inputAssignments>
            <field>Art_New_Schedule_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_Art__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_To_Art__c</field>
            <value>
                <elementReference>DateTime_Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_ASI</name>
        <label>Update to ASI</label>
        <locationX>338</locationX>
        <locationY>1152</locationY>
        <inputAssignments>
            <field>Art_Type__c</field>
            <value>
                <stringValue>ASI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>779</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>user_name</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production Schedule/Quote Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_to_Art__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Art_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ArtEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your project is under way, art is getting started &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;now! Please take a moment to watch this short video on the art process and what to expect next.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.youtube.com/watch?v=cFLweSn8obU&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;CLICK HERE TO WATCH CARLL&apos;S ART VIDEO!&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please do not hesitate to call!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!OwnerName}&lt;/p&gt;&lt;p&gt;{!$Record.Owner.MobilePhone}&lt;/p&gt;&lt;p&gt;{!$Record.Owner.Email}&lt;/p&gt;&lt;p&gt;Sunday Cool | Project Advisor&lt;/p&gt;</text>
    </textTemplates>
</Flow>
