force-app/main/default/flows/Art_Uploaded_PA_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Art_Uploaded_email</name>
        <label>Send Art Uploaded email</label>
        <locationX>589</locationX>
        <locationY>571</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Art Uploaded</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Art_Uploaded_email_0</name>
        <label>Send Art Uploaded email</label>
        <locationX>157</locationX>
        <locationY>661</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbodyproject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SPLIT PROJECT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Project_Split_Uploaded</name>
        <label>Project Split Uploaded?</label>
        <locationX>282</locationX>
        <locationY>457</locationY>
        <defaultConnector>
            <targetReference>Send_Art_Uploaded_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.Art_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Order__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_My_Order.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TURN INTO PROJECT!!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Art_Uploaded_email_0</targetReference>
            </connector>
            <label>Is a project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Owner_Email</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>recordID_OR_myorderID</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!$Record.My_Order__r.Id}),{!$Record.Id}, {!$Record.My_Order__r.Id})</expression>
    </formulas>
    <interviewLabel>Art Uploaded PA email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Art Uploaded PA email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_My_Order</name>
        <label>Get My Order</label>
        <locationX>443</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Split_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portal_my_order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>474</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_My_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Art_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Uploaded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Portal_2_0__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order &lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt; - {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}, was uploaded.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailbodyproject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Project ZIP uploaded for order&lt;/span&gt; &lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/portal_my_order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;for contact {!$Record.Contact_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
