force-app/main/default/flows/Auto_Create_SO_Billing_Invoice_w_TAX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BIlling_to_Invoice_Copy</name>
        <label>Billing to Invoice Copy</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <actionName>fw3__ASBillingToInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Invoice_with_Opp_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>billingIds</name>
            <value>
                <elementReference>BIllingID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw3__ASBillingToInvoice</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendInvoice</name>
        <label>sendInvoice</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <actionName>fw1__InvoiceSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceIds</name>
            <value>
                <elementReference>invoiceIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fw1__InvoiceSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Billing_Line_to_List</name>
        <label>Add Billing Line to List</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>nBillingLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the SOL to the list of on the Sales Order collection variable.</description>
        <name>Add_SOL_Product_to_List</name>
        <label>Add SOL Product to List</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>nSalesOrderLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Billing_Line_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Line_field</name>
        <label>Assign Billing Line field</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeedERP__Sales_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Hours_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Billing_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Opportunity_Product_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SOL_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Sales Order Line Fields</description>
        <name>Assign_Sales_Order_Line_Fields</name>
        <label>Assign Sales Order Line Fields</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sales_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Opportunity_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Product_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Opportunity_Product_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Line_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Billing_ID_to_Variable</name>
        <label>Assign the Billing ID to Variable</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>BIllingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingLine.AcctSeed__Billing__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BIlling_to_Invoice_Copy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>QC_OR_PARTIAL</name>
        <label>QC OR PARTIAL?</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>sendInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Partial_or_CSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOp.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOp.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOp.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SC Marketing</stringValue>
                </rightValue>
            </conditions>
            <label>Contains Partial or CSI</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Opportunity Ship Date is populated set the Invoice Due Date to that date.  If not, set it to the Opp Auto Production Date.</description>
        <name>Set_the_Invoice_Due_Date</name>
        <label>Set the Invoice Due Date</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Update_Due_Date_if_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_Opp_Ship_Date_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Due_Date_to_Auto_Production_Date</targetReference>
            </connector>
            <label>Is the Opp Ship Date Populated?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto-Create SO Billing Invoice w TAX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-Create SO Billing Invoice w TAX</label>
    <loops>
        <description>Extracts Opp Product Lines one at a time.</description>
        <name>Extract_Lines</name>
        <label>Extract Lines</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>oppProduct_Original</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sales_Order_Line_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sales_Order_Lines_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Line_Records</name>
        <label>Create Billing Line Records</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Assign_the_Billing_ID_to_Variable</targetReference>
        </connector>
        <inputReference>nBillingLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Records</name>
        <label>Create Billing Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Collect_Lines_from_Existing_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Sales_Order__c</field>
            <value>
                <elementReference>Create_Sales_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Billing_City__c</field>
            <value>
                <elementReference>getOp.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Billing_Country__c</field>
            <value>
                <elementReference>getOp.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Billing_PostalCode__c</field>
            <value>
                <elementReference>getOp.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Billing_State__c</field>
            <value>
                <elementReference>getOp.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Customer__c</field>
            <value>
                <elementReference>getOp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Opportunity__c</field>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INV_SO_Relationship__c</field>
            <value>
                <elementReference>Create_Sales_Order</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Billing_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Billing_City__c</field>
            <value>
                <elementReference>getOp.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Country__c</field>
            <value>
                <elementReference>getOp.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_PostalCode__c</field>
            <value>
                <elementReference>getOp.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_State__c</field>
            <value>
                <elementReference>getOp.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Street__c</field>
            <value>
                <elementReference>getOp.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Customer__c</field>
            <value>
                <elementReference>getOp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Opportunity__c</field>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>getOp.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Country__c</field>
            <value>
                <elementReference>getOp.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <elementReference>getOp.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <elementReference>getOp.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <elementReference>getOp.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Status__c</field>
            <value>
                <stringValue>Needs Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order_Lines_0</name>
        <label>Create Sales Order Lines</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Billing_Line_Records</targetReference>
        </connector>
        <inputReference>nSalesOrderLine</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This step will collect all OppprtunityLineItem rows for the old Opportunity. It will load them into the OpportunityProductLineItems variable</description>
        <name>Collect_Lines_from_Existing_Opportunity</name>
        <label>Collect Lines from Existing Opportunity</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>oppProduct_Original</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Color__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>AcctSeed__GL_Account_Variable_1__c</queriedFields>
        <queriedFields>AcctSeed__GL_Account_Variable_2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOp</name>
        <label>getOp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>setInvoiceIds</name>
        <label>setInvoiceIds</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Id_to_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BIlling_to_Invoice_Copy.Id</elementReference>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <outputAssignments>
            <assignToReference>invoiceIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Invoice_Id_to_Opp</name>
        <label>Invoice Id to Opp</label>
        <locationX>182</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>QC_OR_PARTIAL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Id__c</field>
            <value>
                <elementReference>BIlling_to_Invoice_Copy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Due Date to Auto Prod Date if NULL</description>
        <name>Update_Due_Date_if_NULL</name>
        <label>Update Due Date if NULL</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>setInvoiceIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Due_Date__c</field>
            <value>
                <elementReference>getOp.Ship_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Due_Date_to_Auto_Production_Date</name>
        <label>Update Due Date to Auto Production Date</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>setInvoiceIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Due_Date__c</field>
            <value>
                <elementReference>getOp.Auto_Production_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_with_Opp_ID</name>
        <label>Update Invoice with Opp ID</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Set_the_Invoice_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw3__Billing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingLine.AcctSeed__Billing__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SO_Billing_Relationship__c</field>
            <value>
                <elementReference>Create_Sales_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>getOp.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Opportunity__c</field>
            <value>
                <elementReference>getOp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Billing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing__c</objectType>
    </variables>
    <variables>
        <name>BIllingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing_Line__c</objectType>
    </variables>
    <variables>
        <name>Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice__c</objectType>
    </variables>
    <variables>
        <name>invoiceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nBillingLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing_Line__c</objectType>
    </variables>
    <variables>
        <description>Variable holds the values for the new Sales Order Lines being created</description>
        <name>nSalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProduct_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the incoming OpportunityID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores variable for the new Sales Order to be created</description>
        <name>SalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Variable holds the Sales Order Line fields</description>
        <name>SalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
