force-app/main/default/flows/Auto_Create_Sales_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the SOL to the list of on the Sales Order collection variable.</description>
        <name>Add_SOL_Product_to_List</name>
        <label>Add SOL Product to List</label>
        <locationX>264</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>nSalesOrderLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity’s or account’s field values to assign field values to the order.</description>
        <name>Assign_Sales_Order_Fields</name>
        <label>Assign Sales Order Fields</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Billing_PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Shipping_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Shipping_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Shipping_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Shipping_PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.AcctSeedERP__Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSalesOrder.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Sales Order Line Fields</description>
        <name>Assign_Sales_Order_Line_Fields</name>
        <label>Assign Sales Order Line Fields</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sales_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Opportunity_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.AcctSeed__GL_Account_Variable_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Product_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Lines.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SOL_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the Sales Order Created field on the Opportunity</description>
        <name>Update_Sales_Order_Created_field</name>
        <label>Update Sales Order Created field</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Order_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <description>4-26-21 jmm. This flow auto-creates a Sales Order and sets the status to Needs Ordered if the Opp is Closed Won and Sizes In = True, Checks for Sales Order Created box. Added Product SKU to copy over to SO</description>
    <interviewLabel>Auto Create Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Sales Order</label>
    <loops>
        <description>Extracts Opp Product Lines one at a time.</description>
        <name>Extract_Lines</name>
        <label>Extract Lines</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <collectionReference>oppProduct_Original</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sales_Order_Line_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sales_Order_Lines_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Collect_Lines_from_Existing_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Billing_City__c</field>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Country__c</field>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_PostalCode__c</field>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_State__c</field>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Street__c</field>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Country__c</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Status__c</field>
            <value>
                <stringValue>Needs Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order_Lines_0</name>
        <label>Create Sales Order Lines</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Update_Sales_Order_Created_field</targetReference>
        </connector>
        <inputReference>nSalesOrderLine</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This step will collect all OppprtunityLineItem rows for the old Opportunity. It will load them into the OpportunityProductLineItems variable</description>
        <name>Collect_Lines_from_Existing_Opportunity</name>
        <label>Collect Lines from Existing Opportunity</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>oppProduct_Original</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Color__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>AcctSeed__GL_Account_Variable_1__c</queriedFields>
        <queriedFields>AcctSeed__GL_Account_Variable_2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Sales Order Created field</description>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Sales_Order_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sizes_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Needs_Ordering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores variable for the new Sales Order to be created</description>
        <name>nSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Variable holds the values for the new Sales Order Lines being created</description>
        <name>nSalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProduct_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Contains the incoming OpportunityID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable holds the Sales Order Line fields</description>
        <name>SalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
