force-app/main/default/flows/Christmas_Gift_Email_2023.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Christmas_Gift_Email</name>
        <label>Christmas Gift Email</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eItU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Christmas_Gift_Email</name>
        <label>Copy 1 of Christmas Gift Email</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>heyguys@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eItU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_owned_by_PA</name>
        <label>Is owned by PA</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Christmas_Gift_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PA_Filter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Contact_Owner_For_Flow_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jeff Kukuk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Contact_Owner_For_Flow_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colton Graham</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Contact_Owner_For_Flow_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>John Rucker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Contact_Owner_For_Flow_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stacia Curione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Contact_Owner_For_Flow_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crystal Mcvoy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Christmas_Gift_Email</targetReference>
            </connector>
            <label>PA Filter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Christmas Gift Email 2023 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Christmas Gift Email 2023</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_owned_by_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Christmas_Gift_2023__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Owner_For_Flow_Emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Jeff Kukuk</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Owner_For_Flow_Emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Stacia Curione</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Won_Opp__c</field>
            <operator>LessThan</operator>
            <value>
                <dateValue>2023-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Last_Won_Opp__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2019-12-31</dateValue>
            </value>
        </filters>
        <filters>
            <field>Typical_Order_Size__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Less than 12</stringValue>
            </value>
        </filters>
        <filters>
            <field>Typical_Order_Size__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>12-35</stringValue>
            </value>
        </filters>
        <filters>
            <field>Typical_Order_Size__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>36-59</stringValue>
            </value>
        </filters>
        <filters>
            <field>Typical_Order_Size__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-09</startDate>
            <startTime>09:58:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
