force-app/main/default/flows/Cleanup_locations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Inbound</name>
        <label>Assign Inbound</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WH1_Count_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundForCreation.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1wVL0000001gQDYAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Outbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Movements_to_each_other</name>
        <label>Assign Movements to each other</label>
        <locationX>176</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>inboundUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundForCreation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundUpdate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outboundForCreation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outboundForCreation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundUpdate.AcctSeedERP__Inbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundForCreation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound</name>
        <label>Assign Outbound</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WH1_Count_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1a4w00000Hx9tWAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WH1_Count_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundForCreation.AcctSeedERP__Inbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1qVL0000002TvZYAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inbound</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cleanup locations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cleanup locations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inbound</name>
        <label>Create Inbound</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Assign_Movements_to_each_other</targetReference>
        </connector>
        <inputReference>inboundForCreation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Outbound</name>
        <label>Create Outbound</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Create_Inbound</targetReference>
        </connector>
        <inputReference>outboundForCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Aux_finished_IQA</name>
        <label>Get Aux finished IQA</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmKvAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WH1_Count_IQA</name>
        <label>get WH1 Count IQA</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Aux_finished_IQA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UhZRAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Outbound_Update</name>
        <label>Outbound Update</label>
        <locationX>176</locationX>
        <locationY>1116</locationY>
        <inputReference>outboundUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inbound</name>
        <label>Update Inbound</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Outbound_Update</targetReference>
        </connector>
        <inputReference>inboundUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_WH1_Count_IQA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Inventory_GL_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t3g000000Ppi8AAC</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-30</startDate>
            <startTime>11:21:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>inboundForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>inboundUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>outboundForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>outboundUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
</Flow>
