force-app/main/default/flows/Closed_lost_Won_tasks_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_tasks_complete</name>
        <label>Mark tasks complete</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Taskcomplete.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taskcomplete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_Tasks_from_closed_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_to_collection</name>
        <label>Single to collection</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Alltasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Taskcomplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Tasks_from_closed_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_there_a_task</name>
        <label>is there a task</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Taskcomplete.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opps_with_completed_tasks</targetReference>
            </connector>
            <label>Is Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Closed lost/Won tasks updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed lost/Won tasks updated</label>
    <loops>
        <name>Get_all_Tasks_from_closed_Opps</name>
        <label>Get all Tasks from closed Opps</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_tasks_from_op</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_tasks_complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_there_a_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_tasks_from_op</name>
        <label>Get tasks from op</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Tasks_from_closed_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>WLY Auto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opps_with_completed_tasks</name>
        <label>Update opps with completed tasks</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>Alltasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_tasks_from_op</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Alltasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskcomplete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
