force-app/main/default/flows/Closed_Won_to_Slack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Message_to_Slack</name>
        <label>Post Message to Slack</label>
        <locationX>318</locationX>
        <locationY>622</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>CLOSED WON!!    ${!$Record.Amount} - {!$Record.Account.Name} - {!$Record.Contact_Name__c} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2EVL000004Cozd2AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>WowBox_order</name>
        <label>Contact has wowbox order?</label>
        <locationX>202</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Post_Message_to_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_Order_in_Op</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V2 Exclude IT dept accounts

V3</description>
    <environments>Default</environments>
    <interviewLabel>Closed Won to Slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Won to Slack</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>408</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WowBox_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Won_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shopify_Order__c</object>
        <sortField>Created_at__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Put_Op_in_Order</name>
        <label>Put Op in Order</label>
        <locationX>50</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Post_Message_to_Slack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Won_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Shopify_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Put_Order_in_Op</name>
        <label>Put Order in Op</label>
        <locationX>50</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Put_Op_in_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Shopify_Order__c</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>282</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed_Won__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OPP_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Alan Thomas</stringValue>
            </value>
        </filters>
        <filters>
            <field>OPP_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Austin Warren</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
