force-app/main/default/flows/Color_Copy_to_PC_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opp_Line_Color_to_Quote_Line_Color</name>
        <label>Assign Opp Line Color to Quote Line Color</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>$Record.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppProdLine.Color__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Color_Field</targetReference>
        </connector>
    </assignments>
    <description>2/3/2021-.jmm. Copies the color from the Opportunity Line to the PAYMENT CENTER invoice. It does not do anything for the Accounting Seed invoice</description>
    <interviewLabel>Color Copy Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Color Copy to PC Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This step will collect all OppprtunityLineItem rows for the old Opportunity. It will load them into the OpportunityProductLineItems variable</description>
        <name>Collect_Lines_from_Existing_Opportunity</name>
        <label>Collect Lines from Existing Opportunity</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Line_Color_to_Quote_Line_Color</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw2__Opportunity_Line_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw2__Product__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>oOppProdLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Color__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Color_Field</name>
        <label>Update the Color Field</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_Lines_from_Existing_Opportunity</targetReference>
        </connector>
        <object>fw1__Invoice_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oOppProdLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProduct_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Contains the incoming OpportunityID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
