force-app/main/default/flows/COrey_Testing_New_addon_dnp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_New_Add_on_DNP_Requests</name>
        <label>Post New Add on/DNP Requests</label>
        <locationX>556</locationX>
        <locationY>2738</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>New Add-On DNP Request to Review!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2EVL000000wEU12AM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Addproductsinglestocollect</name>
        <label>Addproductsinglestocollect</label>
        <locationX>1414</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>SingleAddProducttoCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleVarLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Items_From_Add_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Products_lines_to_collection</name>
        <label>Assign All Products lines to collection</label>
        <locationX>776</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OG_LINES_COLLECTION</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SIngleOGLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OG_Product_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_OG_Line_Request</name>
        <label>Assign Values to OG Line Request</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Old_Product_II__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_Product_Lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Old_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_Product_Lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Old_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_Product_Lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Decision_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Needed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeRequestNameforUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Opportunity_Product_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_Product_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Inventory_Products_Color_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_All_Current_Products_Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Youth_or_Adult_to_New_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adult_or_Youth_Moving</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleOGLine.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Products</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Products_lines_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionVar</name>
        <label>CollectionVar</label>
        <locationX>1414</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>NewSIngleToCollectionEditedVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewEditedSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Edited_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Line_Color</name>
        <label>Single Line Color</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>ColorChangeSingleVar.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Color Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColorChangeSingleVar.Product_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_New_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColorChangeSingleVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColorChangeSingleVar.Quantity_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Old_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColorChangeSingleVar.Sales_Price_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Old_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Line_Color_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Line_Color_Collection</name>
        <label>Single Line Color Collection</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ColorChangeCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ColorChangeSingleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OG_For_Color_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Line_Split_Collection</name>
        <label>Single Line Split Collection</label>
        <locationX>1062</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SplitCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SplitSingleLineVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OG_For_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Row_Assignment</name>
        <label>Single Row Assignment</label>
        <locationX>1414</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Quantity_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfQuantityRequestedNULL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Sales_Price_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfSalesPriceRequestNULL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Old_Product_II__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Edited_Rows.Product_Requested__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Edited_Rows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Opportunity_Product_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Edited_Rows.Opportunity_Product_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEditedSingle.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Products</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleAddProducts</name>
        <label>SingleAddProducts</label>
        <locationX>1414</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Quantity_Input_For_Addon_DNP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPriceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarLineItem.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_On_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addproductsinglestocollect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleLineSplit</name>
        <label>SingleLineSplit</label>
        <locationX>1062</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Split Opportunities</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeRequestNameforUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Split.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Product_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Split.Old_Product_II__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Quantity_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Split.Old_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.Sales_Price_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OG_For_Split.Old_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SplitSingleLineVar.New_Opportunity_For_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Split_Order_To_Which_Opp.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Line_Split_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Adult</name>
        <choiceText>Adult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>H_Tan</name>
        <choiceText>H. Tan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H. Tan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Youth</name>
        <choiceText>Youth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Youth</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Inventory_Product_Line</name>
        <label>Inventory Product Line?</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Loop_OG_For_Color_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OG_For_Color_Change.Old_Product_II__r.Active_Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_New_Product</targetReference>
            </connector>
            <label>Yes Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Change_All_Product_Color_NULL</name>
        <label>Is Change All Product Color NULL?</label>
        <locationX>688</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>ProductScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Color_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_All_Current_Products_Color</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OG_For_Color_Change</targetReference>
            </connector>
            <label>Color Not NULL</label>
        </rules>
        <rules>
            <name>Split_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_Current_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OG_For_Split</targetReference>
            </connector>
            <label>Split Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Line_Inventory</name>
        <label>Is Product Line Inventory?</label>
        <locationX>1348</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Loop_OG_For_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OG_For_Split.Old_Product_II__r.Active_Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Product_Youth</targetReference>
            </connector>
            <label>Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Line_Product_Youth</name>
        <label>Line Product = Choice</label>
        <locationX>1194</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Loop_OG_For_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OG_For_Split.Old_Product_II__r.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_OG_For_Split.Youth_or_Adult_to_New_Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SingleLineSplit</targetReference>
            </connector>
            <label>Matching Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_goo</name>
        <label>No goo</label>
        <locationX>688</locationX>
        <locationY>2630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wgwrg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>123456789</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_New_Add_on_DNP_Requests</targetReference>
            </connector>
            <label>wgwrg</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Add_On_Text</name>
        <dataType>String</dataType>
        <expression>&quot;Add&quot;+&quot; &quot;+&quot;On&quot;</expression>
    </formulas>
    <formulas>
        <name>ChangeRequestNameforAdded</name>
        <dataType>String</dataType>
        <expression>{!Add_Line_Items_From_Add_Products.Name}</expression>
    </formulas>
    <formulas>
        <name>ChangeRequestNameforUpdated</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_Edited_Rows.Old_Product_II__r.Name}</expression>
    </formulas>
    <formulas>
        <name>IfQuantityRequestedNULL</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_Through_Edited_Rows.Quantity_Requested__c}),{!Loop_Through_Edited_Rows.Old_Quantity__c},{!Loop_Through_Edited_Rows.Quantity_Requested__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IfSalesPriceRequestNULL</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Loop_Through_Edited_Rows.Sales_Price_Requested__c}),{!Loop_Through_Edited_Rows.Old_Sales_Price__c},{!Loop_Through_Edited_Rows.Sales_Price_Requested__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NotNullSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Loop_Through_Edited_Rows.Sales_Price_Requested__c}),{!Loop_Through_Edited_Rows.Old_Sales_Price__c},{!Loop_Through_Edited_Rows.Sales_Price_Requested__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Add_Line_Items_From_Add_Products.Quantity_Input_For_Addon_DNP__c}*{!Add_Line_Items_From_Add_Products.Unit_Price_to_Currency__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>COrey Testing New addon dnp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COrey Testing New addon dnp</label>
    <loops>
        <name>Add_Line_Items_From_Add_Products</name>
        <label>Add Line Items From Add Products</label>
        <locationX>1326</locationX>
        <locationY>2030</locationY>
        <collectionReference>EditedAddedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Change_Request_Records_for_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_goo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OG_For_Color_Change</name>
        <label>Loop OG For Color Change</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_OG_Change_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inventory_Product_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Requested</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OG_For_Split</name>
        <label>Loop OG For Split</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_OG_Change_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product_Line_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Change_Request_for_Split</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OG_Product_Lines</name>
        <label>Loop OG Product Lines</label>
        <locationX>688</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_OG_Line_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Product_Change_Request_From_OG_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Edited_Rows</name>
        <label>Loop Through Edited Rows</label>
        <locationX>1326</locationX>
        <locationY>1514</locationY>
        <collectionReference>NewOutputEditedRowsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Row_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Edited_Rows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Change_Request_Records_for_Added</name>
        <label>Create Change Request Records for Added</label>
        <locationX>1414</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>SingleAddProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <stringValue>Add Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Needed__c</field>
            <value>
                <stringValue>Approval Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChangeRequestNameforAdded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Requested__c</field>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Requested__c</field>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Quantity_Input_For_Addon_DNP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Requested__c</field>
            <value>
                <elementReference>Add_Line_Items_From_Add_Products.Sales_Price_for_Add_On_DNP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Product_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Product_Change_Request_From_OG_Lines</name>
        <label>Create Opportunity Product Change Request From OG Lines</label>
        <locationX>688</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_OG_Change_Requests</targetReference>
        </connector>
        <inputReference>OG_LINES_COLLECTION</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_Products</name>
        <label>All Products</label>
        <locationX>688</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_New_Products_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SKUID_Color__c</queriedFields>
        <queriedFields>SKUID_SKU__c</queriedFields>
        <queriedFields>SKUID_Size__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OG_Change_Requests</name>
        <label>Get OG Change Requests</label>
        <locationX>688</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Change_All_Product_Color_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Product_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_New_Product</name>
        <label>Get The New Product</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Single_Line_Color</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SKUID_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Inventory_Products_Color_Change__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Old_Product_II__r.SKUID_SKU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_Size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_OG_For_Color_Change.Old_Product_II__r.SKUID_Size__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Change_Request_for_Split</name>
        <label>Update Change Request for Split</label>
        <locationX>974</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>No_goo</targetReference>
        </connector>
        <inputReference>SplitCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_Rows</name>
        <label>Update Edited Rows</label>
        <locationX>1326</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Add_Line_Items_From_Add_Products</targetReference>
        </connector>
        <inputReference>NewSIngleToCollectionEditedVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Requested</name>
        <label>Update Product Requested</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>No_goo</targetReference>
        </connector>
        <inputReference>ColorChangeCollectionVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_New_Products_Screen</name>
        <label>Add New Products Screen</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_OG_Product_Lines</targetReference>
        </connector>
        <fields>
            <name>Add_New_Products_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Products_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Change_All_Current_Products_Color</name>
                    <choiceReferences>Black</choiceReferences>
                    <choiceReferences>H_Tan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Change All Current Products Color</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Split_Current_Products</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Products_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Split_Current_Products</name>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Split Current Products</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Change_All_Current_Products_Color</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Adult_or_Youth_Moving</name>
                    <choiceReferences>Adult</choiceReferences>
                    <choiceReferences>Youth</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Adult or Youth Moving?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Split_Current_Products</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Split_Order_To_Which_Opp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity_Product_Change_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What Opportunity to Add Product To?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>New_Opportunity_For_Split__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Split_Current_Products</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TestingBeforeScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>All_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ba0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-ffd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product ID&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddedProductsCollection</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_All_Current_Products_Color</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Split_Current_Products</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next Screen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Sales_Button_Layout</name>
        <label>New Sales Button Layout</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ADDON_DNP</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add On/DNP&quot;,&quot;value&quot;:&quot;Add On/DNP&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductScreen</name>
        <label>ProductScreen</label>
        <locationX>1326</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Edited_Rows</targetReference>
        </connector>
        <fields>
            <name>ProductsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity_Product_Change_Request__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity_Product_Change_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opportunity Product Change Requests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity_Requested__c:true, Sales_Price_Requested__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Old_Product_II__c,Old_Quantity__c,Old_Sales_Price__c,Quantity_Requested__c,Sales_Price_Requested__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Old_Product_II__c:291, Old_Quantity__c:291, Old_Sales_Price__c:291, Quantity_Requested__c:291, Sales_Price_Requested__c:291</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product_item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_OG_Change_Requests</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewOutputEditedRowsCollection</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Added_Products_Editable_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AddedProductsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity_Input_For_Addon_DNP__c:true, Sales_Price_for_Add_On_DNP__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Id,Quantity_Input_For_Addon_DNP__c,Sales_Price_for_Add_On_DNP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:414, Id:218, Quantity_Input_For_Addon_DNP__c:283, Sales_Price_for_Add_On_DNP__c:389</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EditedAddedProducts</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Sales_Button_Layout</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddedProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ChangeRequestIDforUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>ColorChangeCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>ColorChangeSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>EditedAddedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>EditedProductsFromAddedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Log_a_Call_Notes_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewEditedSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>NewOutputEditedRowsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>NewSIngleToCollectionEditedVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>OG_LINES_COLLECTION</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>OutputEditedRowsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAddProducttoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SIngleOGLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>SinglestoCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SingleVarLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SplitCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>SplitSingleLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
</Flow>
