force-app/main/default/flows/Create_My_Order_From_Op.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Quote_Email</name>
        <label>Send Quote Email</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_My_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eINx</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>exclude_from_portal_emails</name>
        <label>exclude from portal emails</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Send_Quote_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.exclude_from_portal_emails_del__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_My_Order</targetReference>
            </connector>
            <label>IS TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Enabled</name>
        <label>Is User Enabled?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Community_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Community_User.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_My_Order</targetReference>
            </connector>
            <label>User Is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_ready</name>
        <label>Quote ready?</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exclude_from_portal_emails</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <description>Portal</description>
    <environments>Default</environments>
    <formulas>
        <name>MobilePhoneUpdate</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Contact__r.MobilePhone}, {!$Record.Contact__r.Phone})</expression>
    </formulas>
    <interviewLabel>Create My Order From Op {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create My Order From Op-Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_My_Order</name>
        <label>Create My Order</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>MyOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Op_with_My_Order_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Community_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Community_User</name>
        <label>Find Community User</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_My_Order</name>
        <label>Update My Order</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Artist__c</field>
            <value>
                <elementReference>$Record.Assigned_Artist__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>$Record.Colors_on_Back__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>$Record.Colors_on_Front__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>$Record.Colors_on_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Date__c</field>
            <value>
                <elementReference>$Record.Must_Have_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>exclude_from_portal_emails_2__c</field>
            <value>
                <elementReference>$Record.exclude_from_portal_emails_del__c</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Op_with_My_Order_Lookup</name>
        <label>Update Op with My Order Lookup</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Quote_ready</targetReference>
        </connector>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>MobilePhoneUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Order__c</field>
            <value>
                <elementReference>MyOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Won Last Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lead In</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>My_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-02-21T05:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Art_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_Portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portal_2_0__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>QuoteReadyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://sundaycool.file.force.com/servlet/servlet.ImageServer?id=0154w000024sdT7&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684261844000&quot; alt=&quot;Right click on the image to save it to your computer.&quot; title=&quot;LINK&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hey there, Hero!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks for waiting patiently as we finished up your quote. We hope the wait was shorter than the time it takes for you to save the city from certain doom!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We&apos;ve got some great news for you – our pricing information is hotter than a supervillain&apos;s lair. Just click this &lt;/span&gt;&lt;a href=&quot;https://sundaycool.my.site.com/portal/s/portal-my-order/{!$Record.My_Order__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;LINK&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, and let&apos;s get started on our mission to review your quote. Once your quote is approved, we will start the art process and you will be notified when your art is ready to view!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;If you haven&apos;t accessed our portal yet, be sure to check your email for our message titled&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt; &quot;Sup Fam, You Did It!&lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot; It&apos;s the key to unlocking your access to all your orders, new and old.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;So what are you waiting for, hero? Let&apos;s save the day!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://sundaycool.file.force.com/servlet/servlet.ImageServer?id=0154w000024sdXi&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684331948000&quot; alt=&quot;Right click on the image to save it to your computer.&quot; title=&quot;LINK&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Mission ready, your trusty sidekick,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.My_Order__r.Opportunity_Owner_1__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>MyOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
