force-app/main/default/flows/Create_CSI_or_Partial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GO_to_new_Op</name>
        <label>GO to new Op</label>
        <locationX>534</locationX>
        <locationY>4838</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_Single_Link_to_Collection</name>
        <label>Assign Existing Single Link to Collection</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>OPContentDocLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOPLinksVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_My_Order_Links</name>
        <label>Assign My Order Links</label>
        <locationX>171</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_Files_To_My_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMyOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_My_Order_Links_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_My_Order_Links_to_Collection</name>
        <label>Assign My Order Links to Collection</label>
        <locationX>171</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>OPContentDocLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOPLinksVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Files_To_My_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_name_prefix</name>
        <label>Assign name prefix</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>ContentVersionSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Versions_for_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionSingle.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddPrefixFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Version_CSA_name_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Approved_Art</name>
        <label>Assign New Approved Art</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_Art_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_approved_art_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_approved_art_to_collection</name>
        <label>Assign new approved art to collection</label>
        <locationX>490</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>OPContentDocLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOPLinksVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approved_Art_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Op_Products_to_Collection</name>
        <label>Assign New Op Products to Collection</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewOpProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_Op_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Line</name>
        <label>Assign Single Line</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SingleOpProduct.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_new_Op_Products.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_new_Op_Products.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_new_Op_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_new_Op_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Op_Products_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Version_CSA_name_to_collection</name>
        <label>Assign Single Version CSA name to collection</label>
        <locationX>842</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>ContentVerisionUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Versions_for_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_name_prefix</name>
        <label>Copy 1 of Assign name prefix</label>
        <locationX>490</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>ContentVersionSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Versions_for_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentVersionSingle.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Single_Version_CSA_name_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_New_Approved_Art</name>
        <label>Copy 1 of Assign New Approved Art</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Approved_Art_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_new_approved_art_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_new_approved_art_to_collection</name>
        <label>Copy 1 of Assign new approved art to collection</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>OPContentDocLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOPLinksVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Approved_Art_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Single_Version_CSA_name_to_collection</name>
        <label>Copy 1 of Assign Single Version CSA name to collection</label>
        <locationX>490</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>ContentVerisionUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentVersionSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Versions_for_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Existing_Links</name>
        <label>Reassign Existing Links</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOPLinksVar.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_links.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Single_Link_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Creating_New_Art_Drop_CSA</name>
        <choiceText>Creating New Art Drop CSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creating New Art Drop CSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSI</name>
        <choiceText>CSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Drop_New_Approved_Art</name>
        <choiceText>Drop New Approved Art</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drop New Approved Art</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_ART_YET</name>
        <choiceText>NO ART YET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO ART YET</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partial</name>
        <choiceText>Partial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Use_Existing</name>
        <choiceText>Use Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Use Existing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Art_Approved</name>
        <label>Art Approved?</label>
        <locationX>215</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>Add_My_Order_back_to_Op</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Art_Is_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Use_Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Drop_New_Approved_Art</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Art_approved_My_Order_Update</targetReference>
            </connector>
            <label>Art Is Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Art_Type_Choices</name>
        <label>Art Type Choices</label>
        <locationX>534</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Client_Portal_Enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Art</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Use_Existing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Art_OP</targetReference>
            </connector>
            <label>Existing Art</label>
        </rules>
        <rules>
            <name>New_Approved_Art</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Drop_New_Approved_Art</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Op_New_Art</targetReference>
            </connector>
            <label>New Approved Art</label>
        </rules>
        <rules>
            <name>New_CSA_Art</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Creating_New_Art_Drop_CSA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approved_Art_Loop</targetReference>
            </connector>
            <label>New CSA Art</label>
        </rules>
    </decisions>
    <decisions>
        <description>Do you want all the products moved to CSI or a blank slate to manually enter in products.</description>
        <name>Clone_Or_Remove_Products</name>
        <label>Clone Or Remove Products</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Op_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Slate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Uncheck_To_Remove_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Art_Type_Choices</targetReference>
            </connector>
            <label>Blank Slate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Portal_Enabled</name>
        <label>Is Client Portal Enabled?</label>
        <locationX>534</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>GO_to_new_Op</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Portal_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Op.My_Order__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Surface_to_client</targetReference>
            </connector>
            <label>Yes, Portal Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_Content_Docs_To_My_Order</name>
        <label>Link Content Docs To My Order?</label>
        <locationX>215</locationX>
        <locationY>3398</locationY>
        <defaultConnector>
            <targetReference>Art_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_them_to_My_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Use_Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Drop_New_Approved_Art</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArtType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Creating_New_Art_Drop_CSA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Files_To_My_Order</targetReference>
            </connector>
            <label>Link them to My Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Surface_to_client</name>
        <label>Surface to client?</label>
        <locationX>369</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>GO_to_new_Op</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_My_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Uncheck_to_allow_client_to_see_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Order</targetReference>
            </connector>
            <label>Create My Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddPrefixFormula</name>
        <dataType>String</dataType>
        <expression>&quot;CSA_&quot;+{!Loop_Versions_for_Name.Title}</expression>
    </formulas>
    <formulas>
        <name>NewOpName</name>
        <dataType>String</dataType>
        <expression>IF({!CSI_or_Partial}=&quot;CSI&quot;,&quot;CSI of&quot;,&quot;Partial of&quot;)+&quot;-&quot;+{!OpName}</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CSI or Partial Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CSI or Partial</label>
    <loops>
        <name>Approved_Art_Loop</name>
        <label>Approved Art Loop</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <collectionReference>ContentDocsNewApprovedIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Approved_Art</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_Content_Versions_for_name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Assign_new_Op_Products</name>
        <label>Assign new Op Products</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Op_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Op_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Approved_Art_Loop</name>
        <label>Copy 1 of Approved Art Loop</label>
        <locationX>754</locationX>
        <locationY>1550</locationY>
        <collectionReference>ContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_New_Approved_Art</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Versions_for_name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_Versions_for_Name</name>
        <label>Copy 1 of Loop Versions for Name</label>
        <locationX>402</locationX>
        <locationY>2246</locationY>
        <collectionReference>Copy_1_of_Get_Content_Versions_for_name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_name_prefix</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Version_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Link_Files_To_My_Order</name>
        <label>Link Files To My Order</label>
        <locationX>83</locationX>
        <locationY>3518</locationY>
        <collectionReference>ContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_My_Order_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_My_Order_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_links</name>
        <label>Loop Existing links</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Existing_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reassign_Existing_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Op_Content_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Versions_for_Name</name>
        <label>Loop Versions for Name</label>
        <locationX>754</locationX>
        <locationY>2126</locationY>
        <collectionReference>Get_Content_Versions_for_name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_name_prefix</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Version_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_My_Order_Links</name>
        <label>Create My Order Links</label>
        <locationX>83</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>Art_Approved</targetReference>
        </connector>
        <inputReference>OPContentDocLinkCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_OP</name>
        <label>Create New OP</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>NewOpId</assignRecordIdToReference>
        <connector>
            <targetReference>Clone_Or_Remove_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Op.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attention_to_if_applicable__c</field>
            <value>
                <elementReference>Attention_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Op.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Op.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deco_Type__c</field>
            <value>
                <elementReference>Get_Op.Deco_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude_from_Portal__c</field>
            <value>
                <elementReference>Uncheck_to_allow_client_to_see_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Date__c</field>
            <value>
                <elementReference>Must_Have</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOpName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Get_Op.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Address__c</field>
            <value>
                <elementReference>Residential_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sizes_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lead In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transit_Days__c</field>
            <value>
                <elementReference>Transit_Days</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Op_Products</name>
        <label>Create New Op Products</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Art_Type_Choices</targetReference>
        </connector>
        <inputReference>NewOpProductsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Op_Content_Links</name>
        <label>Create Op Content Links</label>
        <locationX>534</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Is_Client_Portal_Enabled</targetReference>
        </connector>
        <inputReference>OPContentDocLinkCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>My_Order</name>
        <label>My Order</label>
        <locationX>215</locationX>
        <locationY>3278</locationY>
        <assignRecordIdToReference>NewMyOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_Content_Docs_To_My_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Content_Versions_for_name</name>
        <label>Copy 1 of Get Content Versions for name</label>
        <locationX>402</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Versions_for_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentVersionNewApprovedIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Versions_for_name</name>
        <label>Get Content Versions for name</label>
        <locationX>754</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Versions_for_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Links</name>
        <label>Get Existing Links</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Op</name>
        <label>Get Op</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CSI_or_Partial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Op_Products</name>
        <label>Get Op Products</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_Op_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_My_Order_back_to_Op</name>
        <label>Add My Order back to Op</label>
        <locationX>215</locationX>
        <locationY>4526</locationY>
        <connector>
            <targetReference>GO_to_new_Op</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>My_Order__c</field>
            <value>
                <elementReference>NewMyOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Art_approved_My_Order_Update</name>
        <label>Art approved My Order Update</label>
        <locationX>83</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Add_My_Order_back_to_Op</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewMyOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Art_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Art_Sent_To_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Art Approved</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Version_Names</name>
        <label>Copy 1 of Update Version Names</label>
        <locationX>402</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Create_Op_Content_Links</targetReference>
        </connector>
        <inputReference>ContentVerisionUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Art_OP</name>
        <label>Update Existing Art OP</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Get_Existing_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>Get_Op.Colors_on_Back__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>Get_Op.Colors_on_Front__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>Get_Op.Colors_on_Other__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Op_New_Art</name>
        <label>Update Op New Art</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Approved_Art_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>Back_Colors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>Front_Colors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>Other_Color</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Version_Names</name>
        <label>Update Version Names</label>
        <locationX>754</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Create_Op_Content_Links</targetReference>
        </connector>
        <inputReference>ContentVerisionUpdateCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_CSI_or_Partial</name>
        <label>Create CSI or Partial</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_OP</targetReference>
        </connector>
        <fields>
            <name>Create_CSI_or_Partial_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_CSI_or_Partial_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Name</elementReference>
                    </defaultValue>
                    <fieldText>Op Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CSI_or_Partial</name>
                    <choiceReferences>CSI</choiceReferences>
                    <choiceReferences>Partial</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>CSI or Partial?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Address</name>
                    <dataType>Boolean</dataType>
                    <fieldText>New Address?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Transit_Days</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Transit_Days__c</elementReference>
                    </defaultValue>
                    <fieldText>Transit Days</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_CSI_or_Partial_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Must_Have</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Must_Have_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Must Have</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uncheck_to_allow_client_to_see_Order</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Uncheck to allow client to see Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ArtType</name>
                    <choiceReferences>Use_Existing</choiceReferences>
                    <choiceReferences>Drop_New_Approved_Art</choiceReferences>
                    <choiceReferences>Creating_New_Art_Drop_CSA</choiceReferences>
                    <choiceReferences>NO_ART_YET</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Use_Existing</defaultSelectedChoiceReference>
                    <fieldText>Art Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uncheck_To_Remove_Products</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Uncheck To Remove Products</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Attention_to</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Op.Attention_to_if_applicable__c</elementReference>
            </defaultValue>
            <fieldText>Attention to</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_CSI_or_Partial_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_CSI_or_Partial_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Shipping_Street__c</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Shipping_City__c</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Residential_Address</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Residential_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Residential Address?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_CSI_or_Partial_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Shipping_Zip__c</elementReference>
                    </defaultValue>
                    <fieldText>Zip</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Shipping_State__c</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Op.Shipping_Country__c</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>drpCSAtxt</name>
            <fieldText>&lt;p&gt;Drop New CSA&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ArtType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Creating_New_Art_Drop_CSA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CSAUPLOAD</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.psd,.ai, .svg, .eps, .pdf, .ps, .jpg, .jpeg, .png, .zip, .hiec</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>UPLOAD CSA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileDropzone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocIds</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentVersionIds</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ArtType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Creating_New_Art_Drop_CSA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>drpAPPROVEDtxt</name>
            <fieldText>&lt;p&gt;Drop ONE Approved Art File and update colors&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ArtType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Drop_New_Approved_Art</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_CSI_or_Partial_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_CSI_or_Partial_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Front_Colors</name>
                    <dataType>Number</dataType>
                    <fieldText>Front</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_CSI_or_Partial_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Back_Colors</name>
                    <dataType>Number</dataType>
                    <fieldText>Back</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_CSI_or_Partial_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Color</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ArtType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Drop_New_Approved_Art</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APPROVEDART</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.jpg, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>UPLOAD APPROVED ART</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileDropzone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersionNewApprovedIDs</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocsNewApprovedIDs</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ArtType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Drop_New_Approved_Art</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Op</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentDocsNewApprovedIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentVerisionUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ContentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentVersionNewApprovedIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentVersionSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>NewMyOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OldOPVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OPContentDocLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOPLinksVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>SingleOpProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
