force-app/main/default/flows/Create_WLY_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>OpExists</name>
        <label>OpExists?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpfromToday.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportuinity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDatePlus12Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 12)</expression>
    </formulas>
    <formulas>
        <name>mustHave</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!GetOpfromToday.Must_Have_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>nameFinal</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!addWLY}) &gt; 100, LEFT({!addWLY}, 100), {!addWLY})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create WLY Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create WLY Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportuinity</name>
        <label>Create Opportuinity</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpfromToday.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>GetOpfromToday.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_WLY__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDatePlus12Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>GetOpfromToday.Colors_on_Back__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>GetOpfromToday.Colors_on_Front__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>GetOpfromToday.Colors_on_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Date__c</field>
            <value>
                <elementReference>mustHave</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpfromToday.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Address__c</field>
            <value>
                <elementReference>GetOpfromToday.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>GetOpfromToday.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>GetOpfromToday.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>GetOpfromToday.Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>GetOpfromToday.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>GetOpfromToday.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won Last Year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transit_Days__c</field>
            <value>
                <elementReference>GetOpfromToday.Transit_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Items_Garments__c</field>
            <value>
                <elementReference>GetOpfromToday.Actual_Number_of_Items__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOpfromToday</name>
        <label>GetOpfromToday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpfromToday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Won_Opp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-24</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>addWLY</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WLY - {!GetOpfromToday.Name}</text>
    </textTemplates>
</Flow>
