force-app/main/default/flows/Create_WLY_Bulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>OpExists</name>
        <label>not a CSI or Partial</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Create_Opportuinity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SC Marketing</stringValue>
                </rightValue>
            </conditions>
            <label>is a CSI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDatePlus12Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 12)</expression>
    </formulas>
    <formulas>
        <name>mustHave</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Must_Have_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>nameFinal</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!addWLY}) &gt; 100, LEFT({!addWLY}, 100), {!addWLY})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create WLY Bulk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create WLY Bulk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportuinity</name>
        <label>Create Opportuinity</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_WLY__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDatePlus12Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>$Record.Colors_on_Back__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>$Record.Colors_on_Front__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>$Record.Colors_on_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Date__c</field>
            <value>
                <elementReference>mustHave</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Address__c</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>$Record.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>$Record.Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>$Record.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won Last Year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transit_Days__c</field>
            <value>
                <elementReference>$Record.Transit_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Items_Garments__c</field>
            <value>
                <elementReference>$Record.Actual_Number_of_Items__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <dateValue>2024-01-21</dateValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-01-23</dateValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-23</startDate>
            <startTime>01:46:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>addWLY</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WLY - {!$Record.Name}</text>
    </textTemplates>
</Flow>
