force-app/main/default/flows/Delete_PIMs_Unreceived.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_POL_IDs</name>
        <label>Assign POL IDs</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>POL_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_IDs_to_Text.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IDs_to_Text</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Delete PIMs - Unreceive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete PIMs - Unreceived</label>
    <loops>
        <name>Loop_IDs_to_Text</name>
        <label>Loop IDs to Text</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_POLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_POL_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_PIMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_PIMs</name>
        <label>Delete PIMs</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order_Line__c</field>
            <operator>In</operator>
            <value>
                <elementReference>POL_Ids</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Purchase_Order_Inventory_Movement__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_POLs</name>
        <label>Get POLs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_IDs_to_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_POLs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>POL_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
