force-app/main/default/flows/Discount_Code_to_Shopify.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>discountCodeToShopify</name>
        <label>discountCodeToShopify</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>Discount_Code__c.Discount_Code_to_Shopify</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>CSI_or_Winback</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Discount_Code__c.Discount_Code_to_Shopify</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendCSIEmail</name>
        <label>SendCSIEmail</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>oshay@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVL000003Lbaj</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CSI_or_Winback</name>
        <label>CSI or Winback?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSITrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendCSIEmail</targetReference>
            </connector>
            <label>CSITrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Discount Code to Shopify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discount Code to Shopify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>discountCodeToShopify</targetReference>
        </connector>
        <object>Discount_Code__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>testEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.Contact__r.Name}!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email will be a lot prettier once I get copy for it! Please use this code to grab a shirt from our swagstore for yourself or a friend. &lt;/p&gt;&lt;p&gt;You will need to use your free ship code that we use for samples as these will not normally include that. Enjoy and let me know if you have any difficulties or experience any bugs!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Code: &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;You can also follow this link (which will be a button) and the code will be applied automatically&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.sundaycoolswag.com/discount/{!$Record.Name}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;[imAButton!]&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thanks!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Tyler and Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
