force-app/main/default/flows/Dropship_PO_Auto_Receive_Allocate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PIM_Single</name>
        <label>Assign PIM Single</label>
        <locationX>484</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INV_QA_ID_Formula_assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__Quantity_Unreceived__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__GL_Account_Variable_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__GL_Account_Variable_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_POL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_PIM_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_for_Update</name>
        <label>Assign PO for Update</label>
        <locationX>176</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>PO_Update_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Update_Var.Auto_Received_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_PIM_to_Collection</name>
        <label>Assign Single PIM to Collection</label>
        <locationX>484</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>PIM_Collection_INSERT_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PIM_Single_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_POL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_SIM</name>
        <label>Assign Single SIM</label>
        <locationX>440</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_INV_QA_For_SO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allocate_SO_Loop.AcctSeedERP__Quantity_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__Sales_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allocate_SO_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allocate_SO_Loop.AcctSeedERP__GL_Account_Variable_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_SIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allocate_SO_Loop.AcctSeedERP__GL_Account_Variable_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_SIM_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_SIM_to_Collection</name>
        <label>Assign Single SIM to Collection</label>
        <locationX>440</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>SIM_Collection_INSERT_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_SIM_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocate_SO_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>INV_QA_Created</name>
        <label>INV QA Created?</label>
        <locationX>484</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_New_INV_QA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Inventory_Item</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_POL.AcctSeedERP__Product__r.AcctSeed__Inventory_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_POL.AcctSeedERP__Quantity_Unreceived__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_All_POL</targetReference>
            </connector>
            <label>Not Inventory Item</label>
        </rules>
        <rules>
            <name>Has_QA_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_INV_quantity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PIM_Single</targetReference>
            </connector>
            <label>Has QA already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_product</name>
        <label>Inventory product?</label>
        <locationX>352</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Get_INV_QA_For_SO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Inventory_product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allocate_SO_Loop.AcctSeedERP__Product__r.AcctSeed__Inventory_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocate_SO_Loop.AcctSeedERP__Quantity_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocate_SO_Loop</targetReference>
            </connector>
            <label>Is not Inventory product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Current_Acct_Period</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))&amp;&quot;-&quot;&amp; LPAD(TEXT(MONTH(TODAY())),2,&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>INV_QA_ID_Formula_assignment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_INV_quantity.Id}),{!NewINVQA_ID},{!Get_INV_quantity.Id})</expression>
    </formulas>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Dropship PO - Auto Receive/Allocate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dropship PO - Auto Receive/Allocate</label>
    <loops>
        <name>Allocate_SO_Loop</name>
        <label>Allocate SO Loop</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_SOL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inventory_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_PO_for_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_POL</name>
        <label>Loop All POL</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_POLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_INV_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PIMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_INV_QA</name>
        <label>Create New INV QA</label>
        <locationX>704</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>NewINVQA_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_PIM_Single</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Location__c</field>
            <value>
                <stringValue>a1t4w000004PqQtAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Product__c</field>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Warehouse__c</field>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inventory_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PIMs</name>
        <label>Create PIMs</label>
        <locationX>176</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Allocate_SO_Loop</targetReference>
        </connector>
        <inputReference>PIM_Collection_INSERT_Var</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SIMs</name>
        <label>Create SIMs</label>
        <locationX>176</locationX>
        <locationY>2819</locationY>
        <inputReference>SIM_Collection_INSERT_Var</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>176</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Acct_Period</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Accounting_Period__c</object>
        <outputAssignments>
            <assignToReference>Acct_Period_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_INV_QA_For_SO</name>
        <label>Get INV QA For SIM</label>
        <locationX>440</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Single_SIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Allocate_SO_Loop.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PqQtAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_INV_quantity</name>
        <label>Get INV quantity</label>
        <locationX>484</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>INV_QA_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_POL.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PqQtAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POLs</name>
        <label>Get POLs</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOL</name>
        <label>Get SOL</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_POL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing</name>
        <label>Update Billing</label>
        <locationX>176</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Update_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__r.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeed__Accounting_Period__c</field>
            <value>
                <elementReference>Acct_Period_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Billing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>176</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Get_Accounting_Period</targetReference>
        </connector>
        <inputReference>PO_Update_Var</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order</name>
        <label>Update Sales Order</label>
        <locationX>176</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Update_Ship_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Status__c</field>
            <value>
                <stringValue>PROMO ORDERED</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ship_Date</name>
        <label>Update Ship Date</label>
        <locationX>176</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Create_SIMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__r.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ship_Date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_POLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Shipment</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROMO PO SENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Received_Allocated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-06-13T04:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>AcctSeedERP__Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Acct_Period_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewINVQA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PIM_Collection_INSERT_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>PIM_Single_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>PO_Update_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>SIM_Collection_INSERT_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>Single_SIM_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Inventory_Movement__c</objectType>
    </variables>
</Flow>
