force-app/main/default/flows/Free_Stuff_Task_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contact_Created_Date</name>
        <label>Contact Created Date</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Existing_Client_of_Shirts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_DateCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>of_Items</targetReference>
            </connector>
            <label>Created Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Client_of_Shirts</name>
        <label>Existing Client # of Shirts</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Sticker_Pack_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_36_Or_More</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>36-59</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60-83</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>84-107</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>108-143</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>144-287</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>288-575</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>576+</stringValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of 36 Or More?</label>
        </rules>
    </decisions>
    <decisions>
        <name>of_Items</name>
        <label># of Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Sticker_Pack_Task1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X36_Or_More</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>36-59</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60-83</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>84-107</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>108-143</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>144-287</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>288-575</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FREE_STUFF_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>576+</stringValue>
                </rightValue>
            </conditions>
            <label>36 Or More?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Contact_DateCreated</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Contact__r.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Free Stuff Task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Free Stuff Task Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Sticker_Pack_Task</name>
        <label>Sticker Pack Task</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Name_and_Shipping_to_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054w00000C6rDrAAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>$Record.Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>$Record.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>StickerPackTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Sticker_Pack_Task1</name>
        <label>Sticker Pack Task</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Name_and_Shipping_to_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054w00000C6rDrAAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>$Record.Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>$Record.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>StickerPackTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Created_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>I&apos;m just here for a freebie!</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Name_and_Shipping_to_Comments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_Name__c}
{!$Record.Shipping_Street__c}
{!$Record.Shipping_City__c}
{!$Record.Shipping_State__c}
{!$Record.Shipping_Zip__c}</text>
    </textTemplates>
    <textTemplates>
        <name>StickerPackTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} Needs a Sticker Pack! Potential Requested Order Amount: {!$Record.FREE_STUFF_Order_Amount__c}</text>
    </textTemplates>
    <textTemplates>
        <name>WowBoxTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} needs a Wow Box! Potential Requested Order Amount: {!$Record.FREE_STUFF_Order_Amount__c}</text>
    </textTemplates>
</Flow>
