force-app/main/default/flows/GP_Alert_at_allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GP_alert</name>
        <label>GP alert</label>
        <locationX>455</locationX>
        <locationY>401</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>check_box</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailtoSales</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emailaddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub 60% GP alert!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>GP_less_than_60</name>
        <label>GP less than 60?</label>
        <locationX>168</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GP_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gross_Profit_GP__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053g000000aV9PAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GP_alert</targetReference>
            </connector>
            <label>GP less</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GP Alert at allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GP Alert at allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>check_box</name>
        <label>check box</label>
        <locationX>453</locationX>
        <locationY>580</locationY>
        <inputAssignments>
            <field>hiddenGPemail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GP_less_than_60</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hiddenGPemail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Staged</stringValue>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailtoSales</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The GP on order name {!$Record.AcctSeedERP__Opportunity__r.Name} is at {!$Record.Gross_Profit_GP__c} before shipping.
Order Link
{!OPURL}
Thanks
Auto, do not reply</text>
    </textTemplates>
    <variables>
        <name>Emailaddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.Owner:User.Email},</stringValue>
        </value>
    </variables>
    <variables>
        <name>OPURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://sundaycool.lightning.force.com/lightning/r/Opportunity/{!$Record.AcctSeedERP__Opportunity__r.OPP_ID18__c}/view</stringValue>
        </value>
    </variables>
</Flow>
