force-app/main/default/flows/Holidays_between_dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Holidays</name>
        <label>Count Holidays</label>
        <locationX>936</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>holidays_counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_holidays_between_start_and_end_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Holidays_Counter</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Holidays between dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Holidays between dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_holidays_between_start_and_end_date</name>
        <label>get holidays between start and end date</label>
        <locationX>546</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Holidays_Counter</name>
        <label>Update Holidays Counter</label>
        <locationX>1235</locationX>
        <locationY>175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Holidays_Counter__c</field>
            <value>
                <elementReference>holidays_counter</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_holidays_between_start_and_end_date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>holidays_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
