force-app/main/default/flows/Init_Tax_Calc_from_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Sunday_Cool_Address</name>
        <label>assign Sunday Cool Address</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>updateOpVar.Shipping_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tavares</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpVar.Shipping_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpVar.Shipping_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>510 East Alfred St.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpVar.Shipping_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>32778</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpVar.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Tax_calc_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tax_calc_True</name>
        <label>assign Tax calc True</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>updateOpVar.taxCalc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CPU</name>
        <label>CPU?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>assign_Tax_calc_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_SC_address</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Ship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Country__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_State__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Street__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Zip__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_City__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sunday_Cool_Address</targetReference>
            </connector>
            <label>Add SC address</label>
        </rules>
    </decisions>
    <description>Any changes here need to be applied to Initiate tax Calc record triggered flow as well</description>
    <environments>Default</environments>
    <interviewLabel>Init Tax Calc from Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Init Tax Calc from Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOp</name>
        <label>updateOp</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <inputReference>updateOpVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateOpVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
