force-app/main/default/flows/Inventory_Count_Create_All_Movements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Single_Inbound_Movement</name>
        <label>Assign Single Inbound Movement</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Movement_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.Purpose_for_IIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory_Count_Project.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quantity_Available.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Inbound_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Inbound_to_Collection</name>
        <label>Assign Single Inbound to Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>inboundCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inboundSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Outbound_Movement</name>
        <label>Assign Single Outbound Movement</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Movement_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quantity_Available.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outboundSingle.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outboundQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Outbound_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Outbound_to_Collection</name>
        <label>Assign Single Outbound to Collection</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>outboundCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>outboundSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Product</name>
        <label>Assign Single Product</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>productSingle.Current_Count_Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Product_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Product_to_Collection</name>
        <label>Assign Single Product to Collection</label>
        <locationX>528</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>productsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inbound_or_Outbound</name>
        <label>Inbound or Outbound?</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Single_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quantity_Available.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_over_products.Current_Count_Actual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Inbound_Movement</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quantity_Available.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_over_products.Current_Count_Actual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Outbound_Movement</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inboundQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Loop_over_products.Current_Count_Actual__c} - {!Get_Quantity_Available.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>outboundQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Quantity_Available.AcctSeedERP__Available_Quantity__c} - {!Loop_over_products.Current_Count_Actual__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TODAYS_DATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Inventory Count  - Create All Movements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Count  - Create All Movements</label>
    <loops>
        <name>Loop_over_products</name>
        <label>Loop over products</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Quantity_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inbound</name>
        <label>Create Inbound</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>inboundCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Outbound</name>
        <label>Create Outbound</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_Inbound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>outboundCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Count_Actual__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quantity_Available</name>
        <label>Get Quantity Available</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inbound_or_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UhZMAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_products.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Create_Outbound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>productsCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>968</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(183, 58, 58);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(192, 63, 63);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>EXIT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen_1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inventory_Count_Project</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AcctSeedERP__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inventory Count Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AcctSeedERP__Outbound_Inventory_Movement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Movement_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TODAYS_DATE</elementReference>
                    </defaultValue>
                    <fieldText>Movement Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inboundCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>inboundSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>outboundCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>outboundSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>productsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
