force-app/main/default/flows/Inventory_Management_Application_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This screen flow is for Warehouse 2 Unfinished --&gt; Warehouse 2 Finished inventory transfers.</description>
    <dynamicChoiceSets>
        <name>IQA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse 2 - Receiving</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished Goods</stringValue>
            </value>
        </filters>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <outputAssignments>
            <assignToReference>oOIM.AcctSeedERP__Product__c</assignToReference>
            <field>AcctSeedERP__Product__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcctSeedERP__Type__c</picklistField>
        <picklistObject>AcctSeedERP__Inbound_Inventory_Movement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WarehouseFrom</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Inventory Management Application 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Management Application 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the IIM based on the IQA, OIM and the screen inputs</description>
        <name>Create_IIM</name>
        <label>Create IIM</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_OIM_w_IIM</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Credit_GL_Account__c</field>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Debit_GL_Account__c</field>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__GL_Account_Variable_1__c</field>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__GL_Account_Variable_2__c</field>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Inventory_Balance__c</field>
            <value>
                <elementReference>get_iIQA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Movement_Date__c</field>
            <value>
                <elementReference>Movement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Outbound_Inventory_Movement__c</field>
            <value>
                <elementReference>Create_OIM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Type__c</field>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Unit_Cost__c</field>
            <value>
                <elementReference>new_OIM.AcctSeedERP__Unit_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inbound_Inventory_Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This step creates the OIM record from Warehouse 2 - Receiving Finished Goods.</description>
        <name>Create_OIM</name>
        <label>Create OIM</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>get_iIQA</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Credit_GL_Account__c</field>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Debit_GL_Account__c</field>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Inventory_Balance__c</field>
            <value>
                <elementReference>get_IQA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Movement_Date__c</field>
            <value>
                <elementReference>Movement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Type__c</field>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Unit_Cost__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the inbound IQA records for Warehouse 1 -Receiving, Location B. Finished Goods</description>
        <name>get_iIQA</name>
        <label>get_iIQA</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_IIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmKvAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the IQA for the Product</description>
        <name>get_IQA</name>
        <label>get_IQA</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_OIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmL0AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the newly created OIM with the newly created IIM Record ID</description>
        <name>Update_OIM_w_IIM</name>
        <label>Update_OIM_w_IIM</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_OIM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>Create_IIM</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <screens>
        <description>This flow is for the transfer of inventory from Warehouse 2 Unfinished to Warehouse 2 Finished.</description>
        <name>Inventory_Movement_Application_Unfinished</name>
        <label>Inventory Movement-Warehouse 2 Unfinished</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_IQA</targetReference>
        </connector>
        <fields>
            <name>IMAppName2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Transfer Warehouse 2 Unfinished to Warehouse 2 Finished&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeedERP__Inventory_Balance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AcctSeedERP__Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Lookup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Movement_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Movement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inventory_Movement_Application_Unfinished</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IQA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IQA_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_IIM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_IIM</elementReference>
        </value>
    </variables>
    <variables>
        <description>The new OIM record created from the values entered on the screen as well as known constants from the IIM process.</description>
        <name>new_OIM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <description>Outbound OIM record</description>
        <name>oOIM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inventory_Balance__c</objectType>
    </variables>
</Flow>
