force-app/main/default/flows/Mogli_Pardot_Task_Triggered_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Variables</name>
        <label>Assign Contact Variables</label>
        <locationX>866</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>vMogliNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Contact.Mogli_SMS__Mogli_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Pardot_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Variables</name>
        <label>Assign Lead Variables</label>
        <locationX>1000</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>vMogliNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Lead.Mogli_SMS__Mogli_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Pardot_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppy_Variables</name>
        <label>Assign Oppy Variables</label>
        <locationX>1132</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>vMogliNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Mogli_SMS__Mogli_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Pardot_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Lead_or_Oppy</name>
        <label>Contact Lead or Oppy</label>
        <locationX>994</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Mogli_SMS__Mogli_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Mogli_SMS__Mogli_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Variables</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Lead.Mogli_SMS__Mogli_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Lead.Mogli_SMS__Mogli_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Variables</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Mogli_SMS__Mogli_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Mogli_SMS__Mogli_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppy_Variables</targetReference>
            </connector>
            <label>Oppy</label>
        </rules>
    </decisions>
    <formulas>
        <name>SubjectTemplateName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Subject}, (LEN ({!$Record.Subject})-FIND(&quot;#&quot;,{!$Record.Subject})))</expression>
    </formulas>
    <interviewLabel>Mogli - Pardot Task Triggered SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mogli - Pardot Task Triggered SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Pardot_SMS</name>
        <label>Send Pardot SMS</label>
        <locationX>1000</locationX>
        <locationY>586</locationY>
        <inputAssignments>
            <field>Mogli_SMS__Contact__c</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Direction__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Gateway__c</field>
            <value>
                <stringValue>a7V4w000007z7BpEAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Lead__c</field>
            <value>
                <elementReference>vLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Message__c</field>
            <value>
                <elementReference>Get_Relevant_SMS_Template.Mogli_SMS__Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Opportunity__c</field>
            <value>
                <elementReference>vOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Phone_Number__c</field>
            <value>
                <elementReference>vMogliNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>727</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Relevant_SMS_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>480</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>600</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_SMS_Template</name>
        <label>Get Relevant SMS Template</label>
        <locationX>859</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Lead_or_Oppy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mogli_SMS__Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SubjectTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mogli</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Related_Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Related_Lead.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vMogliNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opportunity.Id</elementReference>
        </value>
    </variables>
</Flow>
