force-app/main/default/flows/One_Time_Contact_Amount_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Amounts</name>
        <label>Assign Amounts</label>
        <locationX>675</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>AmountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_collect_Amount_total.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_collect_Amount_total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lost_Amount</name>
        <label>Assign Lost Amount</label>
        <locationX>1056</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>LostAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Collect_Lost_Amount.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Collect_Lost_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Open_Amount</name>
        <label>Assign Open Amount</label>
        <locationX>317</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>OpenDealAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Open_Deal_Loop.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Deal_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>One Time Contact Amount Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One Time Contact Amount Update</label>
    <loops>
        <name>All_Contact_Loop</name>
        <label>All Contact Loop</label>
        <locationX>123</locationX>
        <locationY>996</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_new_Related_OP</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_to_collect_Amount_total</name>
        <label>Loop to collect Amount total</label>
        <locationX>491</locationX>
        <locationY>401</locationY>
        <collectionReference>WonOpsinContactcollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Amounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_Amount_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Collect_Lost_Amount</name>
        <label>Loop to Collect Lost Amount</label>
        <locationX>872</locationX>
        <locationY>614</locationY>
        <collectionReference>Closed_Lost_OPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lost_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lost_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_Deal_Loop</name>
        <label>Open Deal Loop</label>
        <locationX>487</locationX>
        <locationY>827</locationY>
        <collectionReference>Get_Open_Deals_not_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Open_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Open_Deal_Amount_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Closed_Lost_OPs</name>
        <label>Closed Lost OPs</label>
        <locationX>694</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Collect_Lost_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>63</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Contact_Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>lost_deals_test__c</queriedFields>
        <queriedFields>won_deal_test__c</queriedFields>
        <queriedFields>open_deals_test__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_Related_OP</name>
        <label>Get new Related OP Closed Won</label>
        <locationX>359</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_collect_Amount_total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>WonOpsinContactcollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Deals_not_Won</name>
        <label>Get Open Deals not Won</label>
        <locationX>652</locationX>
        <locationY>826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Deal_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Open_Deal_Amount_Update</name>
        <label>Open Deal Amount Update</label>
        <locationX>488</locationX>
        <locationY>997</locationY>
        <connector>
            <targetReference>All_Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>open_deals_test__c</field>
            <value>
                <elementReference>OpenDealAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts_Amount_field</name>
        <label>Update Contacts Amount field</label>
        <locationX>494</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Closed_Lost_OPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_collect_Amount_total.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>won_deal_test__c</field>
            <value>
                <elementReference>AmountTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lost_Amount</name>
        <label>Update Lost Amount</label>
        <locationX>872</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Get_Open_Deals_not_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>lost_deals_test__c</field>
            <value>
                <elementReference>LostAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-10-25</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AmountTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LostAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewOPFromCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenDealAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WonOpsinContactcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
