force-app/main/default/flows/Opportunity_Product_Change_Request_Approve_All.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Single_Line_to_Approved</name>
        <label>Assign Single Line to Approved</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LineItemtoApproved.Decision_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineItemtoApproved.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Change_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SinglelineApprovedtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Single_Line_to_Approved</name>
        <label>Copy 1 of Assign Single Line to Approved</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>CreatingApproved.Decision_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingApproved.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Creating.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_SinglelineApprovedtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SinglelineApprovedtoCollection</name>
        <label>Copy 1 of SinglelineApprovedtoCollection</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CreatingApprovedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatingApproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Creating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DenyAllCollectionVar</name>
        <label>DenyAllCollectionVar</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DenyAllCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DenySingleVarLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deny_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Denyallsingle</name>
        <label>Denyallsingle</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DenySingleVarLine.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deny_All.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SIngleLineVar.Decision_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DenyAllCollectionVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SinglelineApprovedtoCollection</name>
        <label>SinglelineApprovedtoCollection</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllApprovedLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItemtoApproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Change_Requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Approved or Denied?</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_All_Change_Requests</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deny All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deny_All</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_is_add</name>
        <label>Type is add</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Creating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Product_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Creating.Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Single_Line_to_Approved</targetReference>
            </connector>
            <label>Create Product loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Approvals_Only</name>
        <label>Update Approvals Only</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Change_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_Change_Requests.Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Line_to_Approved</targetReference>
            </connector>
            <label>Update Approvals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddonorDNP</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_All_Change_Requests.Quantity_Requested__c} &gt; {!Loop_Through_All_Change_Requests.Opportunity_Product_Line_Item__r.Quantity}, &quot;Add-On&quot;, 
   IF({!Loop_Through_All_Change_Requests.Quantity_Requested__c} &lt; {!Loop_Through_All_Change_Requests.Opportunity_Product_Line_Item__r.Quantity}, &quot;DNP&quot;, 
   &quot;No Change&quot;))</expression>
    </formulas>
    <interviewLabel>Opportunity Product Change Request Approve All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Change Request Approve All</label>
    <loops>
        <name>Deny_All</name>
        <label>Deny All</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Change_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Denyallsingle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatetoDenyAll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Creating</name>
        <label>Loop for Creating</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Change_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_is_add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_for_Add_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Change_Requests</name>
        <label>Loop Through All Change Requests</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Change_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Approvals_Only</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_for_Update_Reuqests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Change_Requests</name>
        <label>Get Change Requests</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_or_Deny_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Product_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Change_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_for_Add_Products</name>
        <label>Update for Add Products</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <inputReference>CreatingApprovedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Update_Reuqests</name>
        <label>Update for Update Reuqests</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Loop_for_Creating</targetReference>
        </connector>
        <inputReference>AllApprovedLinesCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatetoDenyAll</name>
        <label>UpdatetoDenyAll</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <inputReference>DenyAllCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Approve_or_Deny_All</name>
        <label>Approve or Deny All</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>ButtonSelection</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve All&quot;,&quot;value&quot;:&quot;Approve All&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Deny All&quot;,&quot;value&quot;:&quot;Deny All&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1,&quot;iconName&quot;:null}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approved or Denied All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllApprovedLinesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>ApprovedCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>CreatingApproved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>CreatingApprovedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>DenyAllCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>DenyAllSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>DenySingleVarLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>LineItemtoApproved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SIngleLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Change_Request__c</objectType>
    </variables>
</Flow>
