force-app/main/default/flows/Opportunity_updates_to_my_order_Testing_template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_First_invoice_email</name>
        <label>Send First invoice email</label>
        <locationX>220</locationX>
        <locationY>796</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_invoice_email_box</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_invoice_email_box</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eIOH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Quote_Ready_Email</name>
        <label>Send Quote Ready Email</label>
        <locationX>1201</locationX>
        <locationY>1090</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Stage_to_quote_Ready</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your quote is ready!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eINx</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_invoice_totals</name>
        <label>Add invoice totals</label>
        <locationX>324</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>InvoiceTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Invoice_total_amount.fw1__Balance_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_total_amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Admin_Override</name>
        <label>Active Admin Override?</label>
        <locationX>989</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>Update_My_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_To_Sent_to_Production</targetReference>
            </connector>
            <label>No Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Lost</name>
        <label>Closed Lost</label>
        <locationX>1184</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Moved_To_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner_To_PA</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Moved To Closed Lost</label>
        </rules>
        <rules>
            <name>Back_To_Prior_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Owner_Id</targetReference>
            </connector>
            <label>Back To Prior Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>exclude_from_portal_emails</name>
        <label>exclude from portal emails</label>
        <locationX>1192</locationX>
        <locationY>886</locationY>
        <defaultConnector>
            <targetReference>Send_Quote_Ready_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.exclude_from_portal_emails_del__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_to_quote_Ready</targetReference>
            </connector>
            <label>IS TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invoice_paid</name>
        <label>Is invoice paid?</label>
        <locationX>465</locationX>
        <locationY>797</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.Balance_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053g000000aVR4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_First_invoice_email</targetReference>
            </connector>
            <label>Invoice Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Status</name>
        <label>Quote Status</label>
        <locationX>1009</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Update_My_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_changed_to_Quote_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exclude_from_portal_emails</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage changed to Quote Sent</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_Closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Admin_Override</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Closed won</label>
        </rules>
        <rules>
            <name>Quote_Approved_by_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production Schedule/Quote Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_approved_quote</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Quote Approved by PA</label>
        </rules>
        <rules>
            <name>PassiveOverrideClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Needs_Ordering__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Art_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_To_Sent_to_Production</targetReference>
            </connector>
            <label>PassiveOverrideClosedWon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Assignment</name>
        <label>Record Type Assignment</label>
        <locationX>1413</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Pre_Production_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sent_to_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Art_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Needs_Ordering__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_production_My_Order_record_type</targetReference>
            </connector>
            <label>sent to Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Attn_To_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Attention_to_if_applicable__c},{!Get_My_Order.Owner:User.Name})</expression>
    </formulas>
    <formulas>
        <name>City_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Shipping_City__c}, {!Get_My_Order.Shipping_City__c})</expression>
    </formulas>
    <formulas>
        <name>Country_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Shipping_Country__c}, {!Get_My_Order.Shipping_Country__c})</expression>
    </formulas>
    <formulas>
        <name>InvoiceTotal_GreaterOrEqualTo0</name>
        <dataType>Currency</dataType>
        <expression>IF({!InvoiceTotal}&lt;0,0,{!InvoiceTotal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>State_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Shipping_State__c}, {!Get_My_Order.Shipping_StateProvince__c})</expression>
    </formulas>
    <formulas>
        <name>Street_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Shipping_Street__c}, {!Get_My_Order.Shipping_Street__c})</expression>
    </formulas>
    <formulas>
        <name>Todayplus30</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>Zip_Address_formula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Shipping_Zip__c}, {!Get_My_Order.Shipping_ZipPostal_Code__c})</expression>
    </formulas>
    <interviewLabel>Opportunity updates to my order -- Testing template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity updates to my order -- Testing template</label>
    <loops>
        <name>Get_Invoice_total_amount</name>
        <label>Get Invoice total amount</label>
        <locationX>473</locationX>
        <locationY>383</locationY>
        <collectionReference>Get_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_invoice_totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Balance_Due_in_My_order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>1065</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_My_Order</name>
        <label>Get My Order</label>
        <locationX>890</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portal_my_order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Owner_To_PA</name>
        <label>Change Owner To PA</label>
        <locationX>1192</locationX>
        <locationY>155</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Owner_ID__c</field>
            <value>
                <elementReference>Get_My_Order.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_invoice_email_box</name>
        <label>Check invoice email box</label>
        <locationX>51</locationX>
        <locationY>796</locationY>
        <inputAssignments>
            <field>Invoice_email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PA_approved_quote</name>
        <label>PA approved quote</label>
        <locationX>744</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Update_My_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote Approved</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Pre_Production_Record_Type</name>
        <label>Pre Production Record Type</label>
        <locationX>1304</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001xkxvAAA</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Previous_Owner_Id</name>
        <label>Previous Owner Id</label>
        <locationX>1333</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>Record_Type_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.My_Order__r.Client_Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Send_to_production_My_Order_record_type</name>
        <label>Send to production My Order record type</label>
        <locationX>1423</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001xkxWAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Scheduled for Production</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Balance_Due_in_My_order</name>
        <label>Update Balance Due in My order</label>
        <locationX>473</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Is_invoice_paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Due__c</field>
            <value>
                <elementReference>InvoiceTotal_GreaterOrEqualTo0</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_My_Order</name>
        <label>Update My Order</label>
        <locationX>599</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Invoice_total_amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Artist__c</field>
            <value>
                <elementReference>$Record.Assigned_Artist__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Back__c</field>
            <value>
                <elementReference>$Record.Colors_on_Back__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Front__c</field>
            <value>
                <elementReference>$Record.Colors_on_Front__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colors_on_Other__c</field>
            <value>
                <elementReference>$Record.Colors_on_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_ID__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Date__c</field>
            <value>
                <elementReference>$Record.Must_Have_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City_Address_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country_Address_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_StateProvince__c</field>
            <value>
                <elementReference>State_Address_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street_Address_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_ZipPostal_Code__c</field>
            <value>
                <elementReference>Zip_Address_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>exclude_from_portal_emails_2__c</field>
            <value>
                <elementReference>$Record.exclude_from_portal_emails_del__c</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_to_quote_Ready</name>
        <label>Update My order Stage to quote Ready</label>
        <locationX>584</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>Update_My_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Expiration_Date__c</field>
            <value>
                <elementReference>Todayplus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote Ready</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_To_Sent_to_Production</name>
        <label>Update Stage To Sent to Production</label>
        <locationX>729</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Update_My_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.My_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Scheduled for Production</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_My_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0064w000018GXfFAAW</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailInvoiceReady</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdUA&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684267710000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Hey {!Get_My_Order.Owner:User.Name}!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;It&apos;s time to spring into action! We&apos;re already on the move and getting to work on your order faster than a speeding bullet.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;We&apos;ve got your back! Your sizes are locked and loaded, so this is your last chance to double-check that everything is in order before we complete our mission.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Also, we&apos;ve got your invoice ready to go. Just click on the link below to access your order and make payment through your account. &lt;/span&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Friendly reminder, invoices are due upon being received&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Time is of the essence, so let&apos;s get this done! Click on the link below to access your order directly, and let&apos;s make some magic happen!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://sundaycool.my.site.com/portal/s/portal-my-order/{!Get_My_Order.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;CLICK HERE&lt;/a&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; to go directly to your order.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdXi&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684331948000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Love, your trusty sidekick,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Record.OPP_Owner__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Record.Owner.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;tel:8008650726&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;(800) 865-0726&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailQuoteReady</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdT7&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684261844000&quot; alt=&quot;Right click on the image to save it to your computer.&quot; title=&quot;LINK&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hey there, Hero!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks for waiting patiently as we finished up your quote. We hope the wait was shorter than the time it takes for you to save the city from certain doom!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We&apos;ve got some great news for you – our pricing information is hotter than a supervillain&apos;s lair. Just click this &lt;/span&gt;&lt;a href=&quot;https://sundaycool.my.site.com/portal/s/portal-my-order/{!Get_My_Order.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;LINK&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, and let&apos;s get started on our mission to review your quote. Once your quote is approved, we will start the art process and you will be notified when your art is ready to view!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;If you haven&apos;t accessed our portal yet, be sure to check your email for our message titled&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt; &quot;Sup Fam, You Did It!&lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot; It&apos;s the key to unlocking your access to all your orders, new and old.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;So what are you waiting for, hero? Let&apos;s save the day!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdXi&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684331948000&quot; alt=&quot;Right click on the image to save it to your computer.&quot; title=&quot;LINK&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Mission ready, your trusty sidekick,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_My_Order.Opportunity_Owner_1__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InvoiceTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
