force-app/main/default/flows/PO_to_QC_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>QC_Ticket_EmailBody</name>
        <label>QC Ticket EmailBody</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Garrett@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Purchase Order QC Ticket Created!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBOdy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Single</name>
        <label>Assign_Single</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Single_Link_Var.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TxT_Var_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Link_Var.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qc_Ticket_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_to_Collection</name>
        <label>Single_to_Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Link_Collection_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Link_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TxT_Var_Loop</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Front_Door_Sizes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Front_door_sizes__c</picklistField>
        <picklistObject>QC_Wastage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Front_door_product_type__c</picklistField>
        <picklistObject>QC_Wastage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QC_Ticket_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QC_Ticket__c</picklistField>
        <picklistObject>QC_Wastage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Name</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>PO to QC Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PO to QC Ticket</label>
    <loops>
        <name>TxT_Var_Loop</name>
        <label>TxT_Var_Loop</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>QC_ContentTxT_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FIle_Collection_Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FIle_Collection_Upload</name>
        <label>FIle_Collection_Upload</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>QC_Ticket_EmailBody</targetReference>
        </connector>
        <inputReference>Link_Collection_New</inputReference>
    </recordCreates>
    <recordCreates>
        <name>QC_Ticket_On_Page_Layout</name>
        <label>QC Ticket On Page Layout</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>Qc_Ticket_Id</assignRecordIdToReference>
        <connector>
            <targetReference>TxT_Var_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Do_Not_Pull_From_Inventory__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Front_Door__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Front_door_color__c</field>
            <value>
                <elementReference>Get_POL.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Group__c</field>
            <value>
                <elementReference>Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Get_POL.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Line_Look_Up__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>Get_PO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Ticket__c</field>
            <value>
                <elementReference>QC_Ticket_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specify__c</field>
            <value>
                <elementReference>Specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_shirts__c</field>
            <value>
                <elementReference>Number_of_Shirts</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Wastage__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_PO</name>
        <label>Get PO</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QC_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_POL.AcctSeedERP__Purchase_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POL</name>
        <label>Get POL</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>QC_Ticket</name>
        <label>QC Ticket</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QC_Ticket_On_Page_Layout</targetReference>
        </connector>
        <fields>
            <name>Vendor</name>
            <fieldText>&lt;p&gt;{!Get_PO.AcctSeedERP__Vendor__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product</name>
            <fieldText>&lt;p&gt;{!Get_POL.AcctSeedERP__Product__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Color_In_POL</name>
            <fieldText>&lt;p&gt;{!Get_POL.Color__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_Shirts</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_POL.AcctSeedERP__Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Number of Shirts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Issue</name>
            <choiceReferences>QC_Ticket_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Specify</name>
            <dataType>String</dataType>
            <fieldText>Specify:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QC_Ticket_upload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileDropzone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>QC_ContentTxT_Id</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_POL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBOdy</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey! A Purchase Order QC Ticket has been created!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;PO: {!Get_PO.Name}&lt;/p&gt;&lt;p&gt;POL: {!Get_POL.Name}&lt;/p&gt;&lt;p&gt;Product: {!Get_POL.ProductName2__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Color</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Link_Collection_New</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Num_Of_Shirts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PO_Vendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QC_ContentTxT_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Qc_Ticket_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Link_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
