force-app/main/default/flows/POL_Rec_Skuid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SINGLE_PIM</name>
        <label>SINGLE PIM</label>
        <locationX>731</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__Unit_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__Ledger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__GL_Account_Variable_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__GL_Account_Variable_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SINGLEPIMVAR.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SINGLEPIMVAR.AcctSeedERP__Inventory_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Line_PIM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inventory_available_found</name>
        <label>Inventory available found</label>
        <locationX>731</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Create_Inv_QA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Movement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SINGLE_PIM</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>POL Rec Skuid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POL Rec Skuid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inv_QA</name>
        <label>Create Inv QA</label>
        <locationX>819</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>newINVQA</assignRecordIdToReference>
        <connector>
            <targetReference>SINGLE_PIM</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Location__c</field>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Product__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Warehouse__c</field>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inventory_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_PIM</name>
        <label>Create Line PIM</label>
        <locationX>731</locationX>
        <locationY>902</locationY>
        <inputReference>Get_POL_Single</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inventory_Movement</name>
        <label>Get Inventory Movement</label>
        <locationX>731</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_available_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Movement.AcctSeedERP__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POL_Single</name>
        <label>Get POL Single</label>
        <locationX>731</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory_Movement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>605</locationX>
        <locationY>48</locationY>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>newINVQA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SINGLEPIMVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>todaysdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
