force-app/main/default/flows/Portal_Footer_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>formulaUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Portal Footer Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal Footer Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Owner</name>
        <label>Get Contact Owner</label>
        <locationX>636</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Footer_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Contact.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>636</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Footer_Screen</name>
        <label>Footer Screen</label>
        <locationX>787</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Footer_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Footer_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactUs</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Us&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Project Advisor:&lt;/p&gt;&lt;p&gt;{!Get_Contact_Owner.Name}&lt;/p&gt;&lt;p&gt;{!Get_Contact_Owner.MobilePhone}&lt;/p&gt;&lt;p&gt;{!Get_Contact_Owner.Email}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;sundaycool.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;sundaycool.com&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Footer_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>quicklinks</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Quick Links&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mysundaycool.force.com/portal/s/start-order&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Start Order&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mysundaycool.force.com/portal/s/open-orders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Open Orders&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mysundaycool.force.com/portal/s/art-proofs&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Art Proofs&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mysundaycool.force.com/portal/s/completed-orders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Complete Orders&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mysundaycool.force.com/portal/s/support&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Footer_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>followus</name>
                    <fieldText>&lt;h4&gt;&lt;b&gt;Follow Us&lt;/b&gt;&lt;/h4&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/SundayCoolTees&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Facebook&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.instagram.com/sundaycooltees/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Instagram&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.tiktok.com/@sundaycooltees&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;TikTok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://twitter.com/sundaycooltees&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Twitter&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.youtube.com/c/SundayCoolTees&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;YouTube&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>510</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
