force-app/main/default/flows/Portal_Artwork.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_contentdocids</name>
        <label>add contentdocids</label>
        <locationX>688</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>TXTcontentdocID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDs_to_text.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IDs_to_TXT_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IDs_to_TXT_Collection</name>
        <label>Add IDs to TXT Collection</label>
        <locationX>707</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>ContentDocTXTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TXTcontentdocID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDs_to_text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>art_approved</name>
        <label>art approved?</label>
        <locationX>140</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>No_Artwork</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>art_is_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_my_order.Art_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Link_and_Content_IDS</targetReference>
            </connector>
            <label>art is approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_art</name>
        <label>Has art?</label>
        <locationX>435</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>No_Artwork</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>does_have_art</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Version.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Artwork</targetReference>
            </connector>
            <label>does have art</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Portal Artwork {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal Artwork</label>
    <loops>
        <name>IDs_to_text</name>
        <label>IDs to text</label>
        <locationX>443</locationX>
        <locationY>326</locationY>
        <collectionReference>Get_Content_Link_and_Content_IDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_contentdocids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Version</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Link_and_Content_IDS</name>
        <label>Get Content Link and Content IDS</label>
        <locationX>443</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDs_to_text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Artwork</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Version</name>
        <label>Get Latest Version</label>
        <locationX>443</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_art</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Artwork</targetReference>
        </faultConnector>
        <filterLogic>1 AND (NOT (2))</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocTXTCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CSART</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>ContentModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_my_order</name>
        <label>get my order</label>
        <locationX>140</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>art_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portal_my_order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Artwork</name>
        <label>Artwork</label>
        <locationX>655</locationX>
        <locationY>680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Preview_Image</name>
            <extensionName>c:FilePreviewComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Get_Latest_Version.ContentDocument.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Artwork</name>
        <label>No Artwork</label>
        <locationX>50</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noart</name>
            <fieldText>&lt;p&gt;Looks like your artwork is still in progress!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When it is approved you will be able to view it here!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To view art in progress go &lt;a href=&quot;https://mysundaycool.force.com/portal/s/art-proofs&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>370</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_my_order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocTXTCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TXTcontentdocID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
