force-app/main/default/flows/Product_Names_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Inventory_Alert_Email</name>
        <label>Send Inventory Alert Email</label>
        <locationX>270</locationX>
        <locationY>7055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Alert_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>purchasing@sundaycool.com,Garrett@sundaycool.com,cathy@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Inventory Alert {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_INV_Alert_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sticker_Alert_Email_Action</name>
        <label>Sticker Alert Email Action</label>
        <locationX>50</locationX>
        <locationY>6155</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_sticker_checkbox_to_true</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>purchasing@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sticker Order Alert!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>StickerAlertBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Winter_wear_email</name>
        <label>Winter wear email</label>
        <locationX>270</locationX>
        <locationY>6647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checking_winter_alert_cgheckbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Jade@sundaycool.com,taylor@sundaycool.com,crystal.p@sundaycool.com,purchasing@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Inventory Alert {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Winter_Wear_Alert_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Alert_sent</name>
        <label>Alert sent</label>
        <locationX>1150</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Winter_Wear_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_over_threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Alert_Sent</name>
        <label>Assign Alert Sent</label>
        <locationX>270</locationX>
        <locationY>7163</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Inventory_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Op</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Alert_to_Op_Var</name>
        <label>Assign Alert to Op Var</label>
        <locationX>1150</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Inventory_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_get_single_record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_single_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digitizing_Fee</name>
        <label>Assign Digitizing Fee</label>
        <locationX>402</locationX>
        <locationY>5339</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Embroidery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchasing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DTF_Product_Type</name>
        <label>Assign DTF Product Type</label>
        <locationX>402</locationX>
        <locationY>5039</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct to Film</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embroidery_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sticker_checkbox_to_true</name>
        <label>Assign sticker checkbox to true</label>
        <locationX>50</locationX>
        <locationY>6263</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Sticker_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_this_hold_a_winter_wear_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_FD_collection</name>
        <label>Assign to FD collection</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FD_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_get_single_record.product_name2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_single_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Inventory_Collection</name>
        <label>Assign to Inventory Collection</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Inventory_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_get_single_record.product_name2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Over_W1_Winter_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Services_Collection</name>
        <label>Assign To Services Collection</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Services_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_get_single_record.product_name2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_single_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_FD</name>
        <label>Change to FD</label>
        <locationX>270</locationX>
        <locationY>5639</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Order_Product_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Front Door</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stickers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_Hybrid</name>
        <label>Change to Hybrid</label>
        <locationX>534</locationX>
        <locationY>5639</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Order_Product_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hybrid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stickers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_Inventory</name>
        <label>Change to Inventory</label>
        <locationX>798</locationX>
        <locationY>5639</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Order_Product_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stickers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Stickers_False</name>
        <label>Check Stickers False</label>
        <locationX>754</locationX>
        <locationY>5939</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Stickers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_this_hold_a_winter_wear_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Stickers_True</name>
        <label>Check Stickers True</label>
        <locationX>314</locationX>
        <locationY>5939</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Stickers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sticker_alert_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>checking_winter_alert_cgheckbox</name>
        <label>checking winter alert cgheckbox</label>
        <locationX>270</locationX>
        <locationY>6755</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Winter_Wear_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_send_once</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Engraving_update</name>
        <label>Engraving update</label>
        <locationX>402</locationX>
        <locationY>4739</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Engraving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Heat Press</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FedEx_Update</name>
        <label>FedEx Update</label>
        <locationX>402</locationX>
        <locationY>4439</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Shipping_Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FedEx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Engraving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mobile_Phone_add</name>
        <label>Mobile Phone add</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhonenumberMobileFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Inventory_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Winter_Wear_Alert_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_records_from_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Promo_Update</name>
        <label>Promo Update</label>
        <locationX>402</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IS_UPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Short_Sleeve_Update</name>
        <label>Short Sleeve Update</label>
        <locationX>402</locationX>
        <locationY>3539</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Short Sleeve</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Promo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_2DA_Shipping</name>
        <label>Update 2DA Shipping</label>
        <locationX>402</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2DA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Express_saver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CPU_Shipping_0</name>
        <label>Update CPU Shipping</label>
        <locationX>402</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Pick Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ExpressSaver_Shipping</name>
        <label>Update Express Saver Shipping</label>
        <locationX>402</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Express Saver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fulfillment_Shipping_0_0</name>
        <label>Update Fulfillment Shipping</label>
        <locationX>402</locationX>
        <locationY>2339</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NDA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Ground_Shipping</name>
        <label>Update Ground Shipping</label>
        <locationX>402</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ground</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NDA_Shipping</name>
        <label>Update NDA Shipping</label>
        <locationX>402</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Ship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overnight</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2DA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPS_Update</name>
        <label>UPS Update</label>
        <locationX>402</locationX>
        <locationY>4139</locationY>
        <assignmentItems>
            <assignToReference>OpUpdateVar.Shipping_Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Fedex</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StoreAllRecordNames</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Alert_send_once</name>
        <label>Alert send once</label>
        <locationX>534</locationX>
        <locationY>6947</locationY>
        <defaultConnector>
            <targetReference>Update_Op</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_alert_Once</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Inventory_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpUpdateVar.Inventory_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Inventory_Alert_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Inventory_Alert_Email</targetReference>
            </connector>
            <label>Send alert Once</label>
        </rules>
        <rules>
            <name>Alert_was_already_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Inventory_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Alert_Sent</targetReference>
            </connector>
            <label>Alert was already sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Engraving</name>
        <label>Contains Engraving</label>
        <locationX>534</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>DTF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Engrave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[Engraved]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engraving_update</targetReference>
            </connector>
            <label>Contains Engrave</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Fedex</name>
        <label>Contains Fedex</label>
        <locationX>534</locationX>
        <locationY>4331</locationY>
        <defaultConnector>
            <targetReference>Contains_Engraving</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_fedex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FedEx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FedEx_Update</targetReference>
            </connector>
            <label>Is fedex</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPU</name>
        <label>CPU?</label>
        <locationX>534</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Fulfillment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CPU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>customer pick up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPU_Shipping_0</targetReference>
            </connector>
            <label>Is CPU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_hold_a_winter_wear_alert</name>
        <label>Does this hold a winter wear alert</label>
        <locationX>534</locationX>
        <locationY>6539</locationY>
        <defaultConnector>
            <targetReference>Alert_send_once</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Winter_Wear_alert_needed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpUpdateVar.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Winter_wear_email</targetReference>
            </connector>
            <label>Winter Wear alert needed</label>
        </rules>
        <rules>
            <name>Winter_Wear_alert_already_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>checking_winter_alert_cgheckbox</targetReference>
            </connector>
            <label>Winter Wear alert already sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DTF</name>
        <label>DTF?</label>
        <locationX>534</locationX>
        <locationY>4931</locationY>
        <defaultConnector>
            <targetReference>Embroidery_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_DTF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Digital Film Set Up Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DTF_Product_Type</targetReference>
            </connector>
            <label>is DTF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embroidery_Order</name>
        <label>Embroidery Order?</label>
        <locationX>534</locationX>
        <locationY>5231</locationY>
        <defaultConnector>
            <targetReference>Purchasing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Embroidery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FD_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Digitizing Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Digitizing_Fee</targetReference>
            </connector>
            <label>Is Embroidery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Express_saver</name>
        <label>Express saver</label>
        <locationX>534</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Screens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Express_saver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>express saver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ExpressSaver_Shipping</targetReference>
            </connector>
            <label>is Express saver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment</name>
        <label>Fulfillment?</label>
        <locationX>534</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>NDA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Fulfillment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>fulfillment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fulfillment_Shipping_0_0</targetReference>
            </connector>
            <label>Is Fulfillment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ground_Shipping</name>
        <label>Ground Shipping</label>
        <locationX>534</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>CPU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Ground_Ship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ground_Shipping</targetReference>
            </connector>
            <label>Is Ground Ship</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_UPS</name>
        <label>IS UPS</label>
        <locationX>534</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Contains_Fedex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_UPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;UPS&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPS_Update</targetReference>
            </connector>
            <label>Contains UPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>NDA</name>
        <label>NDA</label>
        <locationX>534</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>X2DA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>overnight</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NDA_Shipping</targetReference>
            </connector>
            <label>Is NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Over_W1_Winter_Threshold</name>
        <label>Over W1 Winter Threshold?</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Product_over_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over_Threshold</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8 OR 9 OR 10 OR 11) AND 12 AND 13</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Count_this_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Half_of_Warehouse1INV</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpUpdateVar.Winter_Wear_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>291</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>340</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>320</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>9001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Production_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2023-05-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_sent</targetReference>
            </connector>
            <label>Over Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_over_threshold</name>
        <label>Product over threshold?</label>
        <locationX>1282</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Loop_to_get_single_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Inventory_Alert</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9) AND (10 OR 11 OR 12 OR 13 OR 14 OR 15)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Count_this_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>A80_percent_of_Total</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpUpdateVar.Inventory_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Production_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-09-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Production_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Close_Date_Plus_5_Days_2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>202</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>235</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>291</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>320</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>340</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alert_to_Op_Var</targetReference>
            </connector>
            <label>Needs Inventory Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promo</name>
        <label>Promo?</label>
        <locationX>534</locationX>
        <locationY>3731</locationY>
        <defaultConnector>
            <targetReference>IS_UPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Promo_in_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promo_Update</targetReference>
            </connector>
            <label>Promo in Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchasing_Type</name>
        <label>Purchasing Type</label>
        <locationX>534</locationX>
        <locationY>5531</locationY>
        <defaultConnector>
            <targetReference>Change_to_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Front_Door_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FD_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Inventory_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_FD</targetReference>
            </connector>
            <label>Front Door only</label>
        </rules>
        <rules>
            <name>Front_door_and_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FD_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Inventory_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Hybrid</targetReference>
            </connector>
            <label>Front door and Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screens</name>
        <label>Screens?</label>
        <locationX>534</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Promo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screens_in_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>screen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Sleeve_Update</targetReference>
            </connector>
            <label>Screens in Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_FD_or_Inventory</name>
        <label>Shipping FD or Inventory</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Inventory_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Front_Door_Goods</name>
            <conditionLogic>(1 OR 2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[FD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Promo_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Color__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DNP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_FD_collection</targetReference>
            </connector>
            <label>Front Door Goods</label>
        </rules>
        <rules>
            <name>Services</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Count_this_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_get_single_record.Color__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DNP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Services_Collection</targetReference>
            </connector>
            <label>Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sticker_alert_needed</name>
        <label>Sticker alert needed</label>
        <locationX>314</locationX>
        <locationY>6047</locationY>
        <defaultConnector>
            <targetReference>Does_this_hold_a_winter_wear_alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_alert</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sticker_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sticker_Alert_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Stickers__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sticker_Alert_Email_Action</targetReference>
            </connector>
            <label>Needs alert</label>
        </rules>
        <rules>
            <name>Already_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sticker_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_sticker_checkbox_to_true</targetReference>
            </connector>
            <label>Already sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stickers</name>
        <label>Stickers?</label>
        <locationX>534</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>Check_Stickers_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Have Stickers</defaultConnectorLabel>
        <rules>
            <name>Has_Stickers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sticker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HTV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Stickers_True</targetReference>
            </connector>
            <label>Has Stickers</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2DA</name>
        <label>2DA</label>
        <locationX>534</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Express_saver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_2DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Services_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_2DA_Shipping</targetReference>
            </connector>
            <label>is 2DA</label>
        </rules>
    </decisions>
    <description>V8: After Send to Production Schedule
V10: added shiptype updates
V12 added screens to change products to short sleeve
V13: Added Fedex and UPS
V14:added HTV
V15:added Engraving
V19: Changed all updates to assignments added logic for FD recognition</description>
    <environments>Default</environments>
    <formulas>
        <name>A80_percent_of_Total</name>
        <dataType>Number</dataType>
        <expression>{!Loop_to_get_single_record.Total_in_All_Locations__c}*0.8</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Close_Date_Plus_5_Days_2</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 5</expression>
    </formulas>
    <formulas>
        <name>CloseDate_Plus_5</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 5</expression>
    </formulas>
    <formulas>
        <name>Half_of_Warehouse1INV</name>
        <dataType>Number</dataType>
        <expression>{!Loop_to_get_single_record.Product2.Warehouse_1_Finished_Goods__c}/2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsMinimumLevel</name>
        <dataType>Boolean</dataType>
        <expression>IF(
   OR(
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c} , &quot;202&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 216),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c} , &quot;235&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 432),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c}  , &quot;291&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 288),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c} , &quot;320&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 48),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c}  , &quot;340&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 48),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c}  , &quot;6001&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 48),
      AND(
          ISPICKVAL ({!Loop_to_get_single_record.Product2.SKUID_SKU__c}  , &quot;9001&quot;), {!Loop_to_get_single_record.Min_Overall_Stock_Level__c} = 48)
      )
,TRUE,FALSE
  )</expression>
    </formulas>
    <formulas>
        <name>Min_Divided_by_3</name>
        <dataType>Number</dataType>
        <expression>{!Loop_to_get_single_record.Min_Overall_Stock_Level__c}/3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PhonenumberMobileFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Contact__r.MobilePhone}, {!$Record.Contact__r.Phone})</expression>
    </formulas>
    <formulas>
        <name>Product_80_Percent_Min</name>
        <dataType>Number</dataType>
        <expression>{!Loop_to_get_single_record.Min_Overall_Stock_Level__c}*0.8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Product Names to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Names to Opportunity</label>
    <loops>
        <name>Loop_to_get_single_record</name>
        <label>Loop to get single record</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_records_from_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shipping_FD_or_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ground_Shipping</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_records_from_Products</name>
        <label>Get records from Products</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_get_single_record</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Op</name>
        <label>Update Op</label>
        <locationX>534</locationX>
        <locationY>7355</locationY>
        <inputReference>OpUpdateVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mobile_Phone_add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ship_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Needs Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lead In</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Won Last Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_INV_Alert_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A sku in order &lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt; is greater than 80% of its inventory level.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Product_Overage_List}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Line_Break_Var}
{!Line_Break_Var}</text>
    </textTemplates>
    <textTemplates>
        <name>Spacethemout</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;&quot;&lt;/p&gt;&lt;p&gt;&quot;&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>StickerAlertBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey! There is a sticker order that has over 1,000 pieces. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order: {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Winter_Wear_Alert_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A winter wear sku in order {!$Record.Name} is greater than 1/2 of warehouse 1 inventory level.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FD_Collection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inventory_Products</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_Break_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpUpdateVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Product_Overage_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Services_Collection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAllNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WinterThresholdalert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
