force-app/main/default/flows/QC_Movement_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Outbound_Sample</name>
        <label>Assign Outbound Sample</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L74DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Txt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Samples</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_QC_Inventory_QA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound_Sample_AUX</name>
        <label>Assign Outbound Sample AUX</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L74EEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Txt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Samples</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_W2_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound_Standard_QC</name>
        <label>Assign Outbound Standard QC</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L74EEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Txt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StanardQC_Avoidable_Unavoidable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_QC_Inventory_QA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QC_Values</name>
        <label>Assign QC Values</label>
        <locationX>1040</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>QC_Update_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QC_Update_Var.Inbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QC_Update_Var.Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OIM_Var.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QC_Update_Var.Pulled_from_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QC_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Outbound_Sample</name>
        <label>Copy 1 of Assign Outbound Sample</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L74DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Txt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Samples</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Standard_QC_Inventory_QA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Outbound_Standard_QC</name>
        <label>Copy 1 of Assign Outbound Standard QC</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L74EEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Txt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StanardQC_Avoidable_Unavoidable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Standard_QC_Inventory_QA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_INV_adjustment</name>
        <label>Outbound INV adjustment</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovementDate_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q4w000006RJ0yEAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.Purpose_for_OIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Physical Inventory Count Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_W2_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.QC_Wastage_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QC_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIM_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Items_txt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OutBound_Movement</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AUX_WH2</name>
        <choiceText>AUX - WH2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AUX - WH2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>QC_Rack</name>
        <choiceText>QC Rack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QC Rack</stringValue>
        </value>
    </choices>
    <choices>
        <name>QC_Rack1</name>
        <choiceText>QC Rack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QC Rack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sample_Test_Shirts</name>
        <choiceText>Sample/Test Shirt(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sample/Test Shirt(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_QC</name>
        <choiceText>Standard QC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard QC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warehouse_1</name>
        <choiceText>Warehouse 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warehouse 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warehouse_3</name>
        <choiceText>Warehouse 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warehouse 3</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_QC_or_Sample</name>
        <label>Copy 1 of QC or Sample?</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Outbound_Sample</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_QC_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Outbound_Standard_QC</targetReference>
            </connector>
            <label>Copy 1 of QC Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_or_Outbound</name>
        <label>Inbound or Outbound OR Standard?</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outbound_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sample_Test_Shirts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QC_Rack_Sample_or_Adjustment</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>QC_or_Sample</name>
        <label>QC or Sample?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Outbound_Sample</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QC_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound_Standard_QC</targetReference>
            </connector>
            <label>QC Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>QC_Rack_Sample_or_Adjustment</name>
        <label>Sample or Adjustment?</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Outbound_INV_adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sample_Test_AUX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sample_Test_Shirts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound_Sample_AUX</targetReference>
            </connector>
            <label>Sample/Test AUX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_and_Location</name>
        <label>Warehouse and Location</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WH1_Finished_A</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sample_Test_Shirts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Finished_Warehouse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Warehouse_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_QC_Inventory_QA</targetReference>
            </connector>
            <label>WH1 - Finished A.</label>
        </rules>
        <rules>
            <name>WH2_Finished</name>
            <conditionLogic>(1 AND 4) OR (2 AND 4) OR (3 AND 4) OR (5 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sample_Test_Shirts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Finished_Warehouse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AUX_WH2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_W2_Finished_IQA</targetReference>
            </connector>
            <label>WH2 - Finished</label>
        </rules>
        <rules>
            <name>WH3_Finished</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Finished_Warehouse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QC_Rack1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sample_Test_Shirts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QC_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_QC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Standard_QC_Inventory_QA</targetReference>
            </connector>
            <label>WH3 - Finished</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Location_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Get_QC_Ticket.Location__c}) = &apos;Staging&apos;,
    {!Warehouse_1},
    IF(
        TEXT({!Get_QC_Ticket.Location__c}) = &apos;QC Bin&apos;,
        {!QC_Rack1},
        &apos;&apos;
    )
)</expression>
    </formulas>
    <formulas>
        <name>MovementDate_formula</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(MID({!Get_QC_Ticket.Name}, 7, 4)),  
  VALUE(MID({!Get_QC_Ticket.Name}, 1, 2)), 
  VALUE(MID({!Get_QC_Ticket.Name}, 4, 2))  
)</expression>
    </formulas>
    <formulas>
        <name>StanardQC_Avoidable_Unavoidable</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_QC_Ticket.Avoidable__c},&quot;Yes&quot;),&quot;Avoidable&quot;,&quot;Unavoidable&quot;)</expression>
    </formulas>
    <interviewLabel>QC Movement Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QC Movement Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OutBound_Movement</name>
        <label>Create OutBound Movement</label>
        <locationX>1040</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Assign_QC_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath</targetReference>
        </faultConnector>
        <inputReference>OIM_Var</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Standard_QC_Inventory_QA</name>
        <label>Copy 1 of Get Standard QC Inventory QA</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_QC_or_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a26VL000000PlF3YAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1tVL000002FbVxYAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Movement_Screen</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (4 AND 2 AND 3) OR (2 AND 6 AND 5)</filterLogic>
        <filters>
            <field>SKUID_Size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QC_Ticket.Inventory_adult_sizes__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QC_Ticket.Inventory_SKU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_Color__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_QC_Ticket.Inventory_colors__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_Size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QC_Ticket.Inventory_youth_sizes__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUID_Size__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SKUID_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QC_Ticket.Inventory_colors__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QC_Ticket</name>
        <label>Get QC Ticket</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QC_Wastage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_QC_Inventory_QA</name>
        <label>Get Standard QC Inventory QA</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QC_or_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UhZMAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_W2_Finished_IQA</name>
        <label>Get W2 Finished IQA</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inbound_or_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmKvAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QC_Record</name>
        <label>Update QC Record</label>
        <locationX>1040</locationX>
        <locationY>1466</locationY>
        <inputReference>QC_Update_Var</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Inventory_Movement_Screen</name>
        <label>Create Inventory Movement_Screen</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Warehouse_and_Location</targetReference>
        </connector>
        <fields>
            <name>Create_Inventory_Movement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Inventory_Movement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Txt</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_QC_Ticket.Job__c</elementReference>
                    </defaultValue>
                    <fieldText>Job</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Product_Name_Txt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Product.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Quantity_of_Items_txt</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_QC_Ticket.of_shirts__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantity of Items</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Inventory_Movement_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QC_Type</name>
                    <choiceReferences>Standard_QC</choiceReferences>
                    <choiceReferences>Sample_Test_Shirts</choiceReferences>
                    <choiceReferences>Inbound</choiceReferences>
                    <choiceReferences>Outbound</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Standard_QC</defaultSelectedChoiceReference>
                    <fieldText>QC Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Finished_Warehouse</name>
                    <choiceReferences>QC_Rack1</choiceReferences>
                    <choiceReferences>Warehouse_1</choiceReferences>
                    <choiceReferences>AUX_WH2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_Formula</elementReference>
                    </defaultValue>
                    <fieldText>Finished Warehouse</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Movement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultPath</name>
        <label>FaultPath</label>
        <locationX>2162</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QC_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OIM_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>QC_Update_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Wastage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
