force-app/main/default/flows/Receiving_Flow_from_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PO_Outputs</name>
        <label>Assign PO Outputs</label>
        <locationX>554</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>PO_Update_Var.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Update_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Update_Var.Received_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_PM_for_ALL</name>
        <label>Assign Single PM for ALL</label>
        <locationX>226</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ALL_POL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__Quantity_Unreceived__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__GL_Account_Variable_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__GL_Account_Variable_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY_DATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ALL_INVQA_ID_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_Collection_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_PM_for_Edited</name>
        <label>Assign Single PM for Edited</label>
        <locationX>1234</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_POLs_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_POLs_Loop.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_POLs_Loop.AcctSeedERP__Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_POLs_Loop.AcctSeedERP__GL_Account_Variable_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_POLs_Loop.AcctSeedERP__GL_Account_Variable_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY_DATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIM_Single_Var.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edited_INVQA_ID_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_Collection_Edited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_to_Collection_All</name>
        <label>Assign Single to Collection_All</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>PIM_Collection_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PIM_Single_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_POL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_to_Collection_Edited</name>
        <label>Assign Single to Collection_Edited</label>
        <locationX>1234</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>PIM_Collection_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PIM_Single_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edited_POLs_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_ouputs</name>
        <label>Assign SO ouputs</label>
        <locationX>554</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>Update_SO_Var.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_Status_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_SO_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADDONS_FRONT_DOOR_HYBRID</name>
        <choiceText>ADDONS (FRONT DOOR/HYBRID)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADDONS (FRONT DOOR/HYBRID)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FD_Ordered</name>
        <choiceText>FD Ordered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FD Ordered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fully_Received</name>
        <choiceText>Fully Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fully Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partially_Received</name>
        <choiceText>Partially Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partially Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>PO_Sent</name>
        <choiceText>PO Sent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Sent</stringValue>
        </value>
    </choices>
    <choices>
        <name>QC_Needs_Ordered</name>
        <choiceText>QC Needs Ordered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	QC Needs Ordered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receiving_QC</name>
        <choiceText>Receiving QC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receiving QC</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ALL_POL_Inv_Quantity_exist</name>
        <label>ALL_POL_Inv Quantity exist?</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_INV_QA_for_ALL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALL_POL_Get_INV_quantity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_PM_for_ALL</targetReference>
            </connector>
            <label>It Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allocate_All_or_Individual</name>
        <label>Allocate All or Individual</label>
        <locationX>554</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Edited_POLs_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allocate_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receive_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ALL_POL</targetReference>
            </connector>
            <label>Allocate All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edited_POL_Inv_Quantity_exist</name>
        <label>Edited_POL_Inv Quantity exist?</label>
        <locationX>1234</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_INV_QA_for_Edited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Exists_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_POL_Get_INV_quantity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_PM_for_Edited</targetReference>
            </connector>
            <label>It Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PO_Status_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcctSeedERP__Status__c</picklistField>
        <picklistObject>AcctSeedERP__Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Received_By_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Received_by__c</picklistField>
        <picklistObject>AcctSeedERP__Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SO_Status_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcctSeedERP__Status__c</picklistField>
        <picklistObject>AcctSeedERP__Sales_Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ALL_INVQA_ID_FORMULA</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!ALL_POL_Get_INV_quantity.Id}),{!NewINVQA_ID},{!ALL_POL_Get_INV_quantity.Id})</expression>
    </formulas>
    <formulas>
        <name>Edited_INVQA_ID_FORMULA</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Edit_POL_Get_INV_quantity.Id}),{!NewINVQA_ID},{!Edit_POL_Get_INV_quantity.Id})</expression>
    </formulas>
    <formulas>
        <name>TODAY_DATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Receiving Flow from PO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receiving Flow from PO</label>
    <loops>
        <name>Edited_POLs_Loop</name>
        <label>Loop Edited POLs</label>
        <locationX>1058</locationX>
        <locationY>566</locationY>
        <collectionReference>Edited_POL_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_POL_Get_INV_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PIMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ALL_POL</name>
        <label>Loop ALL POL</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_POL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ALL_POL_Get_INV_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PIMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_INV_QA_for_ALL</name>
        <label>Create INV QA for ALL</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>NewINVQA_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Single_PM_for_ALL</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Location__c</field>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Product__c</field>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Warehouse__c</field>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inventory_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_INV_QA_for_Edited</name>
        <label>Copy 1 of Create INV QA for Edited</label>
        <locationX>1322</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>NewINVQA_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Single_PM_for_Edited</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <stringValue>a1V3g0000014wHCEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Location__c</field>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Product__c</field>
            <value>
                <elementReference>Edited_POLs_Loop.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Warehouse__c</field>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inventory_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PIMs</name>
        <label>Create PIMs</label>
        <locationX>554</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Assign_PO_Outputs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <inputReference>PIM_Collection_Var</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ALL_POL_Get_INV_quantity</name>
        <label>ALL_POL_Get INV quantity</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_POL_Inv_Quantity_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ALL_POL.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Edit_POL_Get_INV_quantity</name>
        <label>Edit_POL_Get INV quantity</label>
        <locationX>1234</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edited_POL_Inv_Quantity_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Edited_POLs_Loop.AcctSeedERP__Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UjuAAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POL</name>
        <label>Get POL</label>
        <locationX>554</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Lists_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND NOT(3)</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Quantity_Unreceived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ProductName2__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <sortField>ProductName2__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order</name>
        <label>Get Purchase Order</label>
        <locationX>554</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOL</name>
        <label>Get SOLs</label>
        <locationX>554</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SO_Lines_and_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSO</name>
        <label>Get SO</label>
        <locationX>554</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SOL</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order.Sales_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>554</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>GetSO</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <inputReference>PO_Update_Var</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SO</name>
        <label>Update SO</label>
        <locationX>554</locationX>
        <locationY>2270</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Element</targetReference>
        </faultConnector>
        <inputReference>Update_SO_Var</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Element</name>
        <label>Error Element</label>
        <locationX>3386</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Txt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(231, 82, 82);&quot;&gt;SOMETHING WENT WRONG!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Lists_Screen</name>
        <label>Show_Lists_Screen</label>
        <locationX>554</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allocate_All_or_Individual</targetReference>
        </connector>
        <fields>
            <name>Show_Lists_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Lists_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Op_Name_txt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetSO.AcctSeedERP__Opportunity__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Received_By</name>
                    <choiceReferences>Received_By_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Received By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Lists_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PO_Name_txt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Purchase_Order.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PO_Status</name>
                    <choiceReferences>Fully_Received</choiceReferences>
                    <choiceReferences>Partially_Received</choiceReferences>
                    <choiceReferences>Receiving_QC</choiceReferences>
                    <choiceReferences>PO_Sent</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Purchase_Order.AcctSeedERP__Status__c</elementReference>
                    </defaultValue>
                    <fieldText>PO-Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Receive_All</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Receive All</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Lists_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>POL_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AcctSeedERP__Purchase_Order_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AcctSeedERP__Purchase_Order_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_POL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Purchase Order Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AcctSeedERP__Product__c,Color__c,Amount_Received__c,AcctSeedERP__Quantity_Unreceived__c,AcctSeedERP__Quantity_Received__c,AcctSeedERP__Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AcctSeedERP__Product__c:300, Color__c:160, Amount_Received__c:150, AcctSeedERP__Quantity_Unreceived__c:135, AcctSeedERP__Quantity_Received__c:175, AcctSeedERP__Quantity__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>AcctSeedERP__Quantity__c:# Total, AcctSeedERP__Quantity_Unreceived__c:# Unreceived, AcctSeedERP__Quantity_Received__c:# Received To Date, Amount_Received__c:New # Received</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Amount_Received__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Edited_POL_Collection</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Receive!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SO_Lines_and_Status</name>
        <label>SO Lines and Status</label>
        <locationX>554</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SO_ouputs</targetReference>
        </connector>
        <fields>
            <name>SO_Lines_and_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SO_Lines_and_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SOName_Txt</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/Opportunity/{!GetSO.AcctSeedERP__Opportunity__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!GetSO.AcctSeedERP__Opportunity__r.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/AcctSeedERP__Sales_Order__c/{!GetSO.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!GetSO.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Auto Production: {!GetSO.AcctSeedERP__Opportunity__r.Auto_Production_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Must Have: {!GetSO.AcctSeedERP__Opportunity__r.Must_Have_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SO_Lines_and_Status_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SO_Status_1</name>
                    <choiceReferences>Fully_Received</choiceReferences>
                    <choiceReferences>Partially_Received</choiceReferences>
                    <choiceReferences>FD_Ordered</choiceReferences>
                    <choiceReferences>ADDONS_FRONT_DOOR_HYBRID</choiceReferences>
                    <choiceReferences>QC_Needs_Ordered</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SO Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SO_Lines_and_Status_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SOL_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AcctSeedERP__Sales_Order_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SO Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_SOL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_2__c&quot;,&quot;guid&quot;:&quot;column-4429&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name 2&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Color__c&quot;,&quot;guid&quot;:&quot;column-2c27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Color&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Opportunity_Quantity__c&quot;,&quot;guid&quot;:&quot;column-25d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Op Quantity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Opportunity Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;AcctSeedERP__Quantity_Ordered__c&quot;,&quot;guid&quot;:&quot;column-3ef8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ordered&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity Ordered&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;AcctSeedERP__Quantity_Allocated__c&quot;,&quot;guid&quot;:&quot;column-6962&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Allocated&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity Allocated&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;AcctSeedERP__Quantity_Received_Supplier__c&quot;,&quot;guid&quot;:&quot;column-63d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Received&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Quantity Received Supplier&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Purchase_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Edited_POL_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>NewINVQA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PIM_Collection_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>PIM_Single_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>PO_Update_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Update_SO_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order__c</objectType>
    </variables>
</Flow>
