force-app/main/default/flows/Revision_Screen_Flow_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_single_to_collection</name>
        <label>Assign single to collection</label>
        <locationX>771</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>Collection_Version_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_version_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rename_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single</name>
        <label>Assign to single</label>
        <locationX>886</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Single_version_var.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Name_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_version_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rename_Files.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_single_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Testing_Decision</name>
        <label>Testing Decision</label>
        <locationX>888</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Revision_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>This_is_TYLER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a8O4w0000015DnWEAU</stringValue>
                </rightValue>
            </conditions>
            <label>This is TYLER</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>New_Name_formula</name>
        <dataType>String</dataType>
        <expression>&quot;CSART_&quot;+{!Rename_Files.Title}</expression>
    </formulas>
    <interviewLabel>Revision Screen Flow Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revision Screen Flow Portal</label>
    <loops>
        <name>Rename_Files</name>
        <label>Rename_Files</label>
        <locationX>644</locationX>
        <locationY>926</locationY>
        <collectionReference>GetNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_Content_Version</name>
        <label>Get Existing Content Version</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_2_Upload</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedVersionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_My_Order</name>
        <label>Get My Order</label>
        <locationX>644</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Content_Version</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portal_my_order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNames</name>
        <label>Get Names</label>
        <locationX>644</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentVersions_Newtxt</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_names</name>
        <label>Update names</label>
        <locationX>626</locationX>
        <locationY>1372</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Collection_Version_var</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>67</locationX>
        <locationY>757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StartUpload</targetReference>
        </connector>
        <fields>
            <name>dsply_error_txt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;OH NO! Something has gone terribly wrong. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;Carll has received an email about it and will be googling an solution ASAP.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;Try again as well. Sometimes the internet just doesn&apos;t like people.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Error_nav</name>
            <extensionName>c:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Next</name>
                <value>
                    <stringValue>Try Again!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Revision_Screen</name>
        <label>Revision Screen</label>
        <locationX>892</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TempTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;File U&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;pload Coming Soon!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Upload</name>
        <label>Screen_2_Upload</label>
        <locationX>644</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetNames</targetReference>
        </connector>
        <fields>
            <name>UploadFilesComponent</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_My_Order.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.psd,.ai, .svg, .eps, .pdf, .ps, .jpg, .jpeg, .png, .zip, .HEIC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Files Here!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentVersions_Newtxt</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_2</name>
            <extensionName>c:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Next</name>
                <value>
                    <stringValue>Finish Upload!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartUpload</name>
        <label>StartUpload</label>
        <locationX>644</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_My_Order</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;Use &quot;Start Upload&quot; button below to send us your files!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;After dropping in files, make sure to click &quot;Finish Upload&quot;!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1</name>
            <extensionName>c:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Next</name>
                <value>
                    <stringValue>Start Upload!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>418</locationX>
        <locationY>910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2_Upload</targetReference>
        </connector>
        <fields>
            <name>Dsply_txt_Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 16px;&quot;&gt;Files received! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt;﻿Add in any comments regarding your files if you haven&apos;t already, then hit the &lt;/strong&gt;&lt;strong style=&quot;color: rgb(33, 144, 46); font-size: 12px;&quot;&gt;&quot;Submit Revision&quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(193, 97, 97); font-size: 12px;&quot;&gt; button to get this over to your artist!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_3_success</name>
            <extensionName>c:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Next</name>
                <value>
                    <stringValue>Upload more!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>StartUpload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_Version_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ContentVersions_Newtxt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_version_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
