force-app/main/default/flows/Rollup_Invoice_Total_to_OP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_In_Invoice_Total</name>
        <label>Add In Invoice Total</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalOfAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoice.fw1__Total_Invoice_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_OP_have_ship_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Must_Have</name>
        <label>Assign Must Have</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InvoiceDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Must_Have_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ship_date</name>
        <label>Assign Ship date</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InvoiceDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_OP_have_ship_date</name>
        <label>Does OP have ship date?</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Must_Have</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Op_Has_Ship_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ship_date</targetReference>
            </connector>
            <label>Op Has Ship Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rollup Invoice Total to OP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Invoice Total to OP Update Due Date</label>
    <loops>
        <name>Loop_Invoice</name>
        <label>Loop Invoice</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>InvoiceCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_In_Invoice_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_total_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_invoices</name>
        <label>Get invoices</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 4)</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Lookup_for_portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Lookup_for_portal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <outputReference>InvoiceCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw1__Total_Invoice_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>396</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Invoice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Due_Date__c</field>
            <value>
                <elementReference>InvoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_total_field</name>
        <label>Update Invoice total field</label>
        <locationX>176</locationX>
        <locationY>1283</locationY>
        <inputAssignments>
            <field>Invoiced_Total__c</field>
            <value>
                <elementReference>TotalOfAll</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Contact__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_invoices</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalOfAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
