force-app/main/default/flows/SO_payment_made_TRUE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>SO payment made TRUE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SO payment made TRUE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_payment_made_box</name>
        <label>Check payment made box</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_OP_with_paid_amount</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 3)) AND 4</filterLogic>
        <filters>
            <field>AcctSeedERP__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opp_ID_Txt__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Made__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Made__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OP_with_paid_amount</name>
        <label>Update OP with paid amount</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opp_ID_Txt__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Total_Paid_Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_payment_made_box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Total_Paid_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Total_Paid_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
