force-app/main/default/flows/SundayCool_Customer_Survey_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hero_Survey_Email</name>
        <label>Hero Survey Email</label>
        <locationX>743</locationX>
        <locationY>490</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>heyguys@sundaycool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eIOb</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Prior_value</name>
        <label>Prior value</label>
        <locationX>733</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>prior_value_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proirvalueblankforumla</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hero_Survey_Email</targetReference>
            </connector>
            <label>prior value blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Proirvalueblankforumla</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!$Record__Prior.Ship_Date__c})</expression>
    </formulas>
    <formulas>
        <name>TestFormula</name>
        <dataType>Boolean</dataType>
        <expression>(NOT(ISPICKVAL({!$Record.Ship_Type__c},&quot;Customer Pick Up&quot;)) || NOT(ISPICKVAL({!$Record.Ship_Type__c},&quot;Fulfillment&quot;))) &amp;&amp; NOT(ISBLANK({!$Record.Ship_Date__c})) &amp;&amp; ISBLANK(PRIORVALUE({!$Record.Ship_Date__c})) &amp;&amp; {!$Record.Id}=&quot;0064w000016OxrJAAS&quot;</expression>
    </formulas>
    <interviewLabel>SundayCool Customer Survey flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SundayCool Customer Survey flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>EmailMessage</name>
        <label>EmailMessage</label>
        <locationX>743</locationX>
        <locationY>630</locationY>
        <connector>
            <targetReference>EmailMessageRelation</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>heyguys@sundaycool.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Hero_Survey_Email_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Hey Hero! please take this quick survey to help us serve you better!</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>EmailMessageRelation</name>
        <label>EmailMessageRelation</label>
        <locationX>743</locationX>
        <locationY>733</locationY>
        <inputAssignments>
            <field>EmailMessageId</field>
            <value>
                <elementReference>EmailMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationAddress</field>
            <value>
                <elementReference>$Record.Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationType</field>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>608</locationX>
        <locationY>50</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 8 AND NOT(6 OR 7)</filterLogic>
        <filters>
            <field>Ship_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Customer Pick Up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ship_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ship_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ship_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2023-05-28</dateValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>partial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CSI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deco_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Promo</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Survey_Email</name>
            <connector>
                <targetReference>Prior_value</targetReference>
            </connector>
            <label>Scheduled Survey Email</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Must_Have_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Hero_Survey_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024se4D&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684949256000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/p&gt;&lt;p&gt;Holy heroics!&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your order has arrived faster than a speeding bullet! We hope it&apos;s everything you were hoping for and more! As a company serving those who serve, we take our responsibility to support your heroic mission very seriously. We can&apos;t thank you enough for trusting us here at Sunday Cool with your group&apos;s custom apparel needs.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;But could we ask our hero (that&apos;s you!) for one more favor? We need your feedback to ensure we provide the most remarkable customer service, second-to-none apparel, and products to aid you in your mission. So, please put your cape on and take a few minutes to&amp;nbsp;&lt;a href=&quot;https://www.tfaforms.com/4987491&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(241, 115, 122);&quot;&gt;complete our experience survey&lt;/a&gt;&lt;span style=&quot;color: rgb(241, 115, 122);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your feedback is our secret weapon in the fight against the status quo, and we promise to set you up for success and create a remarkable experience at every step. If your order is not right, we will make it right. We&amp;nbsp;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;g&lt;/span&gt;uarantee it 100%.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thanks for your time, hero. We know you have a lot on your utility belt, so we appreciate your help in making us better partners in your mission!&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Stay super,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Carll and the Sunday Cool Fam&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.tfaforms.com/4987491&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(241, 115, 122); font-size: 18px;&quot;&gt;Take The Survey!&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Hero_Survey_SubjectLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.Contact__r.FirstName}, please take this quick survey to help us serve you better!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CheckTestBox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
