force-app/main/default/flows/TO_DO_portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_Email_Quote_approved_confirmation</name>
        <label>Client Email Quote approved confirmation</label>
        <locationX>255</locationX>
        <locationY>1037</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successful_Quote_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_My_Order.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eIO2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Quote_Approval_Email</name>
        <label>Send Quote Approval Email</label>
        <locationX>255</locationX>
        <locationY>533</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Task_quote_approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_My_Order.Opportunity__r.Name}&apos;s Quote has been APPROVED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>eBodyQuoteApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Invoice_changes</name>
        <label>Assign Invoice changes</label>
        <locationX>1637</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice.Opportunity_Lookup_for_portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_Op_in_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_Op_from_Invoice</name>
        <label>clear Op from Invoice</label>
        <locationX>1551</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice.fw1__Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Opp_ID_Txt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Opportunity_Lookup_for_portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OP_variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>THISISMYADDRESS</name>
        <choiceText>THIS IS MY ADDRESS!!!</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Double_Check_Invoice_has_been_linked</name>
        <label>Double Check Invoice has been linked</label>
        <locationX>1792</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Put_Op_in_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_has_been_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Opportunity_Lookup_for_portal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_Op_from_Invoice</targetReference>
            </connector>
            <label>Invoice has been linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>exclude_from_portal_emails_checkbox</name>
        <label>exclude from portal emails checkbox</label>
        <locationX>248</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Client_Email_Quote_approved_confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exclude_from_portal_emails_is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.exclude_from_portal_emails_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_Quote_Approval</targetReference>
            </connector>
            <label>exclude from portal emails is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Approved</name>
        <label>Is Quote Approved?</label>
        <locationX>429</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>What_do_we_need_to_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonsQuotes.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Approved!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_quote_Approved</targetReference>
            </connector>
            <label>Approved quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Successful</name>
        <label>Payment Successful?</label>
        <locationX>1205</locationX>
        <locationY>723</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.fw1__Balance_Due__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>put_the_OP_Id_back_in_invoice</targetReference>
            </connector>
            <label>amount 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Expired</name>
        <label>Quote Expired?</label>
        <locationX>1066</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Reqoute_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Still_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.Quote_Expiration_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_My_Order.Quote_Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_your_quote</targetReference>
            </connector>
            <label>Quote Still Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_for_Quote</name>
        <label>Stage is Quote?</label>
        <locationX>1247</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>stage_invoice_ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Expired</targetReference>
            </connector>
            <label>Stage is ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>stage_invoice_ready</name>
        <label>invoice ready</label>
        <locationX>1248</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Everything_is_on_track</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_My_Order.Balance_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>Is Ready</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactOwner</name>
        <dataType>String</dataType>
        <expression>{!Get_My_Order.Contact__r.Owner.FirstName} + &quot; &quot; + {!Get_My_Order.Contact__r.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>formulaUser_Contact_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>TO DO! {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TO DO!</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Refused_Task</name>
        <label>Create Quote Refused Task</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Op_to_Quote_Refused</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ltaChangestonotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Quote Refused</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Re_Quote_Task</name>
        <label>Create Re-Quote Task</label>
        <locationX>741</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Update_Op_to_Quote_needed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Notes_for_new_quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Quote Expired, Re-Quote Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_quote_approved</name>
        <label>Task quote approved</label>
        <locationX>255</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>exclude_from_portal_emails_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Quote Approved!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>1483</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Invoice_changes</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>My_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_My_Order</name>
        <label>Get My Order</label>
        <locationX>1386</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_for_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPage_Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portal_my_order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Put_Op_in_Invoice</name>
        <label>Put Op in Invoice</label>
        <locationX>1826</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Update_My_Order_Balance_from_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Everything_is_on_track</targetReference>
        </faultConnector>
        <inputReference>Get_Invoice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>put_the_OP_Id_back_in_invoice</name>
        <label>put the OP Id back in invoice</label>
        <locationX>1047</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Everything_is_on_track</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Everything_is_on_track</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opp_ID_Txt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Lookup_for_portal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Opportunity__c</field>
            <value>
                <elementReference>Get_My_Order.Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_variable</name>
        <label>Remove OP variable</label>
        <locationX>1401</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>Please_Pay_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Everything_is_on_track</targetReference>
        </faultConnector>
        <inputReference>Get_Invoice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MO_Quote_Refused</name>
        <label>Update My Order Quote Refused</label>
        <locationX>50</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Create_Quote_Refused_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>Attention_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_StateProvince__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_ZipPostal_Code__c</field>
            <value>
                <elementReference>Zip_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote_Request</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_My_Order_Balance_from_Invoice</name>
        <label>Update My Order Balance from Invoice</label>
        <locationX>1936</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Payment_Button</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Everything_is_on_track</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Due__c</field>
            <value>
                <elementReference>Get_Invoice.fw1__Balance_Due__c</elementReference>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_My_Order_Re_Quote</name>
        <label>Update My Order Re-Quote</label>
        <locationX>604</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>Everything_is_on_track</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote_Request</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_My_order_to_quote_approved</name>
        <label>Update My order to quote approved</label>
        <locationX>256</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Send_Quote_Approval_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>Attention_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_StateProvince__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_ZipPostal_Code__c</field>
            <value>
                <elementReference>Zip_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Quote Approved</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Op_to_Quote_needed</name>
        <label>Update Op to Quote needed</label>
        <locationX>604</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Update_My_Order_Re_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Needs Quoted</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Op_to_Quote_Refused</name>
        <label>Update Op to Quote Refused</label>
        <locationX>50</locationX>
        <locationY>563</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attention_to_if_applicable__c</field>
            <value>
                <elementReference>Attention_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>Zip_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Needs Quoted</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_quote_Approved</name>
        <label>Update Status To quote Approved</label>
        <locationX>435</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Update_My_order_to_quote_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attention_to_if_applicable__c</field>
            <value>
                <elementReference>Attention_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <elementReference>Zip_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Production Schedule/Quote Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_your_quote</name>
        <label>Approve your quote!</label>
        <locationX>597</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Quote_Approved</targetReference>
        </connector>
        <fields>
            <name>txtApprovequote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Approve your Quote! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Valid until {!Get_My_Order.Quote_Expiration_Date__c}!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Total amount: ${!Get_My_Order.Total_Price__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please also confirm your shipping address! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If you are picking up from us please add in your billing address instead!&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sorry, we can not send to a P.O box!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_your_quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approve_your_quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attention_To</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Attention_To__c</elementReference>
                    </defaultValue>
                    <fieldText>Attention To:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please shorten to less than 200 characters!&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Attention_To})&lt;200</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Shipping_Street__c</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approve_your_quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments_From_PA1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Your in hands date - {!Get_My_Order.Must_Have_Date__c}&lt;/li&gt;&lt;li&gt;We MUST have art &amp;amp; size approval by 2PM EST. - {!Get_My_Order.Close_Date__c}&lt;/li&gt;&lt;li&gt;Anticipated transit days- {!Get_My_Order.Opportunity__r.Transit_Days__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_your_quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approve_your_quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Shipping_City__c</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Zip_Postal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Shipping_ZipPostal_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Zip/Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Confirm_Address</name>
                    <choiceReferences>THISISMYADDRESS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Confirm Address</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approve_your_quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Shipping_StateProvince__c</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_My_Order.Shipping_Country__c</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approve_your_quote_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments_From_PA</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Price based on - {!Get_My_Order.Opportunity__r.Actual_Number_of_Items__c} PCS&lt;/li&gt;&lt;li&gt;Colors on front - {!Get_My_Order.Opportunity__r.Colors_on_Front__c}&lt;/li&gt;&lt;li&gt;Colors on back - {!Get_My_Order.Opportunity__r.Colors_on_Back__c}&lt;/li&gt;&lt;li&gt;Colors on other - {!Get_My_Order.Opportunity__r.Colors_on_Other__c}&lt;/li&gt;&lt;li&gt;{!Get_My_Order.Opportunity__r.Additional_Quote_Notes__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>buttonsQuotes</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Quote Approved!&quot;,&quot;value&quot;:&quot;Quote Approved!&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Quote Refused.&quot;,&quot;value&quot;:&quot;Quote Refused.&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Everything_is_on_track</name>
        <label>Everything is on track</label>
        <locationX>1038</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nothingtodo</name>
            <fieldText>&lt;p&gt;Nothing to do right now!&lt;/p&gt;&lt;p&gt;Everything is on track.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Button</name>
        <label>Payment Button</label>
        <locationX>1645</locationX>
        <locationY>673</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Double_Check_Invoice_has_been_linked</targetReference>
        </connector>
        <fields>
            <name>Invoicetopaytxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(21, 173, 59); font-family: tahoma;&quot;&gt;Use Button Below to pay Invoice!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;Balance Due: $&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;{!Get_My_Order.Balance_Due__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pay Invoice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Pay_Invoice</name>
        <label>Please Pay Invoice!</label>
        <locationX>1340</locationX>
        <locationY>721</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Successful</targetReference>
        </connector>
        <fields>
            <name>TxtBalanceDue</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; color: rgb(21, 173, 59); font-size: 16px;&quot;&gt;Pay Invoice Here!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma;&quot;&gt;Balance Due: $&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;{!Get_My_Order.Balance_Due__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PaymentTerminal</name>
            <extensionName>fw1:PaymentMain</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>Get_My_Order.Balance_Due__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountField</name>
                <value>
                    <elementReference>Get_My_Order.Balance_Due__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactField</name>
                <value>
                    <elementReference>Get_My_Order.Contact__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultPaymentMethod</name>
                <value>
                    <stringValue>Credit Card</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupField</name>
                <value>
                    <elementReference>Get_My_Order.Balance_Due__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showInvoiceLines</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountField</name>
                <value>
                    <elementReference>Get_My_Order.Account__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentType</name>
                <value>
                    <stringValue>Charge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>fw1__Invoice__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Invoice.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>doNotSendReceipt</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reqoute_Screen</name>
        <label>Reqoute Screen</label>
        <locationX>761</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Re_Quote_Task</targetReference>
        </connector>
        <fields>
            <name>txtQuoteExpired</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;It&apos;s been a while!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; Let&apos;s keep this order alive and double check that quote! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Let {!Get_My_Order.Opportunity__r.OPP_Owner__c} know of any updates you have and we will get this order rolling again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_for_new_quote</name>
            <fieldText>Notes for new quote</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtrequote2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Click the Re-Quote button and we will get back to you lickity split!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Re-quote Me!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_Quote_Approval</name>
        <label>Successful Quote Approval</label>
        <locationX>850</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Everything_is_on_track</targetReference>
        </connector>
        <fields>
            <name>Success_quoteApproved</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Perfect! APPROVED!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We can&apos;t wait to get your project underway!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_do_we_need_to_change</name>
        <label>What do we need to change?</label>
        <locationX>206</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Update_MO_Quote_Refused</targetReference>
        </connector>
        <fields>
            <name>txtchangeneeded</name>
            <fieldText>&lt;p&gt;What do we need to change?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ltaChangestonotes</name>
            <fieldText>Leave a note for us here!</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1260</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_My_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>eBodyQuoteApproved</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_My_Order.Owner:User.Name} has approved their quote for &lt;a href=&quot;https://sundaycool.lightning.force.com/lightning/r/Opportunity/{!Get_My_Order.Opportunity_ID__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_My_Order.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmialQuoteApprovedClient</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdTR&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684263093000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hey &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Get_My_Order.Contact__r.FirstName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;!,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;All systems are a go for launch! Our team is suited up and ready to get things started for your order. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Heres the next set of steps:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Our art team will mock your design on your product&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Youll receive an email to review and approve your mockup&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Once we receive your approved mockup, well get it set up for production!&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sit back and relax a bit; we got this!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024sdXi&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1684331948000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Me again, your loving trusty sidekick,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!ContactOwner}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CityOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPage_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>fw1__Invoice__c</objectType>
    </variables>
    <variables>
        <name>StateOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StreetOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
