force-app/main/default/flows/Update_S_O_from_P_O_testing_template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Shipped_Email_Action</name>
        <label>Shipped_Email_Action</label>
        <locationX>629</locationX>
        <locationY>747</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Shipping_email_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Shipping_email_True</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order Shipped!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X4w000002eIOW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_add_COG</name>
        <label>Assign add COG</label>
        <locationX>259</locationX>
        <locationY>1197</locationY>
        <assignmentItems>
            <assignToReference>SumofCOG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_P_Os.AcctSeedERP__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_P_Os</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cogs_To_SO</name>
        <label>Assign Cogs To SO</label>
        <locationX>58</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>SO_Update_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Update_Var.PO_COGS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumofCOG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SO_UPDATE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shipping_email_True</name>
        <label>Check Ship email true</label>
        <locationX>629</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>SO_Update_Var.SC_Shipping_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Purchase_orders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ship_Type</name>
        <label>Ship Type</label>
        <locationX>515</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>Get_Purchase_orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CPU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.Ship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TODAY_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_Shipping_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-06-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_orders</targetReference>
            </connector>
            <label>Is CPU?</label>
        </rules>
        <rules>
            <name>Is_fulfillment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.Ship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TODAY_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_orders</targetReference>
            </connector>
            <label>Is fulfillment</label>
        </rules>
        <rules>
            <name>Shipping</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ship_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TODAY_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SC_Shipping_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.Ship_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.Ship_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipped_Email_Action</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>SO_Stage</name>
        <label>SO Stage</label>
        <locationX>245</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Get_Purchase_orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prepped</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Staged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.My_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepped_For_Print_My_Order</targetReference>
            </connector>
            <label>Prepped</label>
        </rules>
        <rules>
            <name>In_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.My_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Printing_in_Progress_My_Order</targetReference>
            </connector>
            <label>In progress</label>
        </rules>
        <rules>
            <name>Job_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.My_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Complete_My_Order</targetReference>
            </connector>
            <label>Job Completed</label>
        </rules>
        <rules>
            <name>Shipped</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial SHIPPED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROMO SHIPPED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.My_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Shipped_My_Order</targetReference>
            </connector>
            <label>Shipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update S/O from P/O testing template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update S/O from P/O testing template</label>
    <loops>
        <name>Loop_P_Os</name>
        <label>Loop P/Os</label>
        <locationX>260</locationX>
        <locationY>1021</locationY>
        <collectionReference>Get_Purchase_orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_add_COG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Cogs_To_SO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Purchase_orders</name>
        <label>Get Purchase orders</label>
        <locationX>260</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_P_Os</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SO_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Job_Complete_My_Order</name>
        <label>Job Complete My Order</label>
        <locationX>314</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Get_Purchase_orders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Purchase_orders</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Production_Stage__c</field>
            <value>
                <stringValue>Job Complete</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Shipped_My_Order</name>
        <label>Job Shipped My Order</label>
        <locationX>526</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Ship_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ship_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Production_Stage__c</field>
            <value>
                <stringValue>Job Shipped</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Prepped_For_Print_My_Order</name>
        <label>Prepped For Print My Order</label>
        <locationX>79</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_Purchase_orders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Purchase_orders</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Production_Stage__c</field>
            <value>
                <stringValue>Prepped for Print</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Printing_in_Progress_My_Order</name>
        <label>Printing in Progress My Order</label>
        <locationX>198</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Get_Purchase_orders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Purchase_orders</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeedERP__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Production_Stage__c</field>
            <value>
                <stringValue>Printing in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>portal_my_order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SO_UPDATE</name>
        <label>SO UPDATE</label>
        <locationX>57</locationX>
        <locationY>1200</locationY>
        <inputReference>SO_Update_Var</inputReference>
    </recordUpdates>
    <start>
        <locationX>161</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>SO_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Monday_Production_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a234w00000cxpPhAAI</stringValue>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Shipping_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://sundaycool--c.documentforce.com/servlet/servlet.ImageServer?id=0154w000024seYm&amp;amp;oid=00DVB000004H66n&amp;amp;lastMod=1685562546000&quot; alt=&quot;Right click on the image to save it to your computer.&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Attention, Mighty Hero!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We are thrilled to announce that your order, {!$Record.AcctSeedERP__Opportunity__r.Name}, is complete and ready to embark on its journey to your HQ!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Like a hero in pursuit, our shipping partner will soon swoop in to collect your package and set it on its journey. Once in motion, the tracking information will be e-mailed to you, empowering you with real-time updates courtesy of our shipping trusty allies.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Should you require guidance, assistance, or face any tribulations, our unwavering customer support team stands as your faithful sidekick, ever ready to leap to your aid.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Stay tuned for updates, brave customer, and thank you for embarking on this thrilling journey with us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Always and forever, your trusty sidekick,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Record.AcctSeedERP__Opportunity__r.OPP_Owner__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;sundaycool.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;(800) 865-0726&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SO_Update_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>SumofCOG</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
