force-app/main/default/flows/Update_SO_addresses_from_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Customer_Pick_Up</name>
        <label>Customer Pick Up?</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Check_Shipment_True_Box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CPU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Opportunity__r.Ship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SO_to_our_address</targetReference>
            </connector>
            <label>Yes CPU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipment_Exists</name>
        <label>Shipment Exists?</label>
        <locationX>248</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Customer_Pick_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipments.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SO_with_Address_from_Shipment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update SO addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SO addresses from Shipment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipments</name>
        <label>Get Shipments</label>
        <locationX>248</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipment_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 5) OR (2 AND 6) OR (3 AND 7) OR (4 AND 8)</filterLogic>
        <filters>
            <field>Sales_Order_BOTH__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_UPS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_Multi__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_BOTH__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_UPS__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Order_Multi__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>zkmulti__MCShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Shipment_True_Box</name>
        <label>Check Shipment True Box</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Address_Added_From_Shipment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SO_to_our_address</name>
        <label>Update SO to our address</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <stringValue>Tavares</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Country__c</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <stringValue>32778-3308</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <stringValue>FL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <stringValue>510 East Alfred Street</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Added_From_Shipment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SO_with_Address_from_Shipment</name>
        <label>Update SO with Address from Shipment</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>Get_Shipments.zkmulti__Recipient_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Country__c</field>
            <value>
                <elementReference>Get_Shipments.zkmulti__Recipient_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <elementReference>Get_Shipments.zkmulti__Recipient_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <elementReference>Get_Shipments.zkmulti__Recipient_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <elementReference>Get_Shipments.zkmulti__Recipient_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_Shipping_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shipments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address_Added_From_Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-09-24</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
