force-app/main/default/flows/Update_Inv_Adjustment_for_Deficit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_IQAs</name>
        <label>Add IQAs</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>totalIQA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_IQA_amount.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_IQA_amount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>countDeficit</name>
        <dataType>Number</dataType>
        <expression>{!totalIQA} - {!$Record.Current_Count_Actual__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Inv. Adjustment for Deficit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Inv. Adjustment for Deficit</label>
    <loops>
        <name>Total_IQA_amount</name>
        <label>Total IQA amount</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_IQAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_IQAs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inv_Adjustment_deficit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IQAs</name>
        <label>Get IQAs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_IQA_amount</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>1B. Finished Goods</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2B. Finished Goods</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2D. Unfinished Goods</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Inv_Adjustment</name>
        <label>Get Latest Inv Adjustment</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IQAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inv_Adjustment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Count_fields</name>
        <label>Reset Count fields</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Current_Count_Actual__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Count_Total_Overall__c</field>
            <value>
                <elementReference>$Record__Prior.Current_Count_Actual__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inv_Adjustment_deficit</name>
        <label>Update Inv. Adjustment deficit</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Reset_Count_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Inv_Adjustment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deficit_Count__c</field>
            <value>
                <elementReference>countDeficit</elementReference>
            </value>
        </inputAssignments>
        <object>Inv_Adjustment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Inv_Adjustment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Count_Actual__c</field>
            <operator>IsChanged</operator>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>totalIQA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
