force-app/main/default/flows/Update_Billing_with_SalesOrder_AddOns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Billing_Line_to_List</name>
        <label>Add Billing Line to List</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>nBillingLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_SO_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Line_fields</name>
        <label>Assign Billing Line fields</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeedERP__Sales_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.AcctSeedERP__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Hours_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.Opportunity_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.AcctSeedERP__Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.AcctSeedERP__GL_Account_Variable_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_SO_Lines.AcctSeedERP__GL_Account_Variable_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingLine.AcctSeed__Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Billing_Line_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Billing_Total_Match_SO_Total</name>
        <label>Does Billing Total Match SO Total</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Collect_Sales_Order_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Total_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing.AcctSeed__Total__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AcctSeedERP__Total__c</elementReference>
                </rightValue>
            </conditions>
            <label>Billing Total Matches</label>
        </rules>
    </decisions>
    <interviewLabel>Update Billing with SalesOrder AddOns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Billing with SalesOrder AddOns</label>
    <loops>
        <name>Extract_SO_Lines</name>
        <label>Extract SO Lines</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>Collect_Sales_Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Billing_Line_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_Billing_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Line_Records</name>
        <label>Create Billing Line Records</label>
        <locationX>352</locationX>
        <locationY>1391</locationY>
        <inputReference>nBillingLine</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Billing_Lines</name>
        <label>Delete Existing Billing Lines</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Billing_Line_Records</targetReference>
        </connector>
        <inputReference>OldBillingLines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Collect_Sales_Order_Lines</name>
        <label>Collect Sales Order Lines</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_SO_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing</name>
        <label>Get Billing</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Billing_Total_Match_SO_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Billing_Lines</name>
        <label>Get the Billing Lines</label>
        <locationX>352</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Existing_Billing_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Billing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Billing.Id</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Billing_Line__c</object>
        <outputReference>OldBillingLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AcctSeed__Billing__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billing</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADDON NEEDS ORDERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADDONS (FRONT DOOR/HYBRID)</stringValue>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Billing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing__c</objectType>
    </variables>
    <variables>
        <name>BillingLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing_Line__c</objectType>
    </variables>
    <variables>
        <name>BillingTotal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing__c</objectType>
    </variables>
    <variables>
        <name>nBillingLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing_Line__c</objectType>
    </variables>
    <variables>
        <name>nSalesOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>OldBillingLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Billing_Line__c</objectType>
    </variables>
    <variables>
        <name>SalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
