force-app/main/default/flows/Update_My_order_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddSortORDER</name>
        <label>AddSortORDER</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SortCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Lines_To_My_Product</name>
        <label>Assign Product Lines To My Product</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varMyProduct.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reassign_Collection_Values.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reassign_Collection_Values.product_name2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.Price_Per_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reassign_Collection_Values.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reassign_Collection_Values.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.My_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMyProduct.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddSortORDER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_list</name>
        <label>Assign to New list</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>newMyProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varMyProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reassign_Collection_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Old_Product_IDs_to_Text</name>
        <label>Old Product IDs to Text</label>
        <locationX>270</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varOldIDText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Old_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Old_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_old_products</name>
        <label>are there old products?</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Create_New_My_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_old_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldIDText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Products_0</targetReference>
            </connector>
            <label>Has old products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_OP_have_products</name>
        <label>Does OP have products?</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionNewProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Collection_Values</targetReference>
            </connector>
            <label>Has Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_My_Order</name>
        <label>Has My Order</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Was_CPU_pick_up_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_My_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Yes - My Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_box_checked</name>
        <label>Is the box checked?</label>
        <locationX>743</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_TimeStamp_Boxed_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Time_CPU_picked_up__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Was_CPU_picked_up__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeStamp_CPU_pick_up</targetReference>
            </connector>
            <label>No TimeStamp -- Boxed Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_CPU_pick_up_checked</name>
        <label>Was CPU pick-up checked?</label>
        <locationX>545</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Is_the_box_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPU_pick_up_already_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Was_CPU_picked_up__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Time_CPU_picked_up__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CPU pick up already checked?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Update My order Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update My order Products</label>
    <loops>
        <name>Collect_Old_Ids</name>
        <label>Collect Old Ids</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <collectionReference>colOldProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Old_Product_IDs_to_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>are_there_old_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Reassign_Collection_Values</name>
        <label>Reassign Collection Values</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>CollectionNewProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Lines_To_My_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Old_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_My_Products</name>
        <label>Create New My Products</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Was_CPU_pick_up_checked</targetReference>
        </connector>
        <inputReference>newMyProducts</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Products_0</name>
        <label>Delete Old Products</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_New_My_Products</targetReference>
        </connector>
        <inputReference>colOldProducts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_My_Order_ID</name>
        <label>Get My Order ID</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_OP_have_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Order__c</elementReference>
            </value>
        </filters>
        <object>portal_my_order__c</object>
        <outputAssignments>
            <assignToReference>varMyOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Products</name>
        <label>Get Old Products</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Old_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMyOrderId</elementReference>
            </value>
        </filters>
        <object>My_Product__c</object>
        <outputReference>colOldProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_My_Order_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>CollectionNewProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Color__c</queriedFields>
        <queriedFields>product_name2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>TimeStamp_CPU_pick_up</name>
        <label>TimeStamp CPU pick-up</label>
        <locationX>611</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>Date_Time_CPU_picked_up__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_My_Order</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR ((5 OR 6) AND 2 AND 3 AND 4) AND 7</filterLogic>
        <filters>
            <field>My_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lead In</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Won Last Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Partial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CSI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Portal_2_0__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionNewProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colOldProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>My_Product__c</objectType>
    </variables>
    <variables>
        <name>newMyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>My_Product__c</objectType>
    </variables>
    <variables>
        <name>SortCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMyOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>My_Product__c</objectType>
    </variables>
    <variables>
        <name>varOldIDText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
