force-app/main/default/flows/Update_Color_from_SOL_to_POL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>444</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>SOL_Color</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOL_Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOL_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Color</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Color from SOL to POL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Color from SOL to POL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>POL_Color</name>
        <label>POL Color</label>
        <locationX>311</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Purchase_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order_Line__c</object>
        <outputAssignments>
            <assignToReference>SOL_Color</assignToReference>
            <field>Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SOL_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Color</name>
        <label>Update Color</label>
        <locationX>608</locationX>
        <locationY>422</locationY>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>SOL_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Line__c</field>
            <value>
                <elementReference>SOL_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>5</locationX>
        <locationY>50</locationY>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Delay_Flow</name>
            <connector>
                <targetReference>POL_Color</targetReference>
            </connector>
            <label>Delay Flow</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Sales Order Line Color</description>
        <name>SOL_Color</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOL_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
