force-app/main/default/flows/Vertex_Invoice_Tax_Calc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vertex_InvoiceRequest_Action_1</name>
        <label>Vertex InvoiceRequest Action 1</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>Vertex__VertexInvoiceRequest</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Vertex__VertexInvoiceRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Shipping_Address_Error</name>
        <label>Shipping Address Error</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Vertex_InvoiceRequest_Action_1</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Shipping Address not filled out in Opportunity!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Validate</name>
        <label>Validate</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Vertex_InvoiceRequest_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Address</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_State__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_City__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Street__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Country__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Zip__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Ship_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Address_Error</targetReference>
            </connector>
            <label>Validate Address</label>
        </rules>
        <rules>
            <name>Customer_Pick_Up</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_City__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Country__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_State__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Street__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Shipping_Zip__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Ship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SC_Address_to_Op</targetReference>
            </connector>
            <label>Customer Pick Up</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vertex Invoice Tax Calc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vertex Invoice Tax Calc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeed__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_SC_Address_to_Op</name>
        <label>Add SC Address to Op</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Vertex_InvoiceRequest_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <stringValue>Tavares</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <stringValue>FL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <stringValue>510 East Alfred Street</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip__c</field>
            <value>
                <stringValue>32778</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Billing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
