force-app/main/default/flows/Vertex_Estimate_Tax_Calculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add</name>
        <label>Assign Add</label>
        <locationX>622</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>taxTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Tax_Lines.AcctSeed__Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_product_a_tax_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>taxLineTrue</name>
        <label>taxLineTrue</label>
        <locationX>490</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>existingTaxLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingTaxId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Tax_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tax_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_has_tax_line</name>
        <label>Already has tax line?</label>
        <locationX>402</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>tax_greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Already_has_tax_line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingTaxLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_line_Update</targetReference>
            </connector>
            <label>Outcome 1 of Already has tax line?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Create sales Order?</label>
        <locationX>666</locationX>
        <locationY>1992</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Needs_Ordering__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sizes_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_S_O_Billing_Invoice</targetReference>
            </connector>
            <label>Yes create Sales Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_product_a_tax_line</name>
        <label>Is this product a tax line?</label>
        <locationX>622</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Add_Tax_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_a_tax_line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Tax_Lines.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t3g000000tVRpAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>taxLineTrue</targetReference>
            </connector>
            <label>Yes it is a tax line</label>
        </rules>
    </decisions>
    <decisions>
        <name>SO_EXISTS</name>
        <label>SO EXISTS</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Decision_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_SO_EXISTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOL</targetReference>
            </connector>
            <label>YES SO EXISTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>tax_greater_than_0</name>
        <label>tax greater than 0</label>
        <locationX>622</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Decision_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taxTotal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_line_Create</targetReference>
            </connector>
            <label>Tax line Over 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Quote_Sent</name>
        <label>Tax Quote Sent?</label>
        <locationX>666</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Decision_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_sent_with_tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Taxt_Quote_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Op_Products</targetReference>
            </connector>
            <label>Quote sent with tax</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vertex Estimate Tax Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vertex Estimate Tax Calculate</label>
    <loops>
        <name>Add_Tax_Lines</name>
        <label>Add Tax Lines</label>
        <locationX>402</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Op_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Already_has_tax_line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Tax_line_Create</name>
        <label>Tax line Create</label>
        <locationX>490</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t3g000000tVRpAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>taxTotal</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_INV_LIne</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>fw2__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Lookup_for_portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Op_Products</name>
        <label>Get Op Products</label>
        <locationX>402</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Tax_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>clear_taxCalc</name>
        <label>clear taxCalc</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>taxCalc__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tax_line_Update</name>
        <label>Tax line Update</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>SO_EXISTS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingTaxId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>taxTotal</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_INV_LIne</name>
        <label>Update INV LIne</label>
        <locationX>50</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>fw1__Product2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t3g000000tVRpAAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Unit_Price__c</field>
            <value>
                <elementReference>taxTotal</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOL</name>
        <label>Update SOL</label>
        <locationX>50</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Opportunity_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingTaxId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Unit_Price__c</field>
            <value>
                <elementReference>taxTotal</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>taxCalc__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>calc_Tax_Product</name>
            <connector>
                <targetReference>Tax_Quote_Sent</targetReference>
            </connector>
            <label>calc Tax Product</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>clearTaxCalc</name>
            <connector>
                <targetReference>clear_taxCalc</targetReference>
            </connector>
            <label>clearTaxCalc</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_S_O_Billing_Invoice</name>
        <label>Create S/O Billing Invoice</label>
        <locationX>534</locationX>
        <locationY>2100</locationY>
        <flowName>Auto_Create_SO_Billing_Invoice_w_TAX</flowName>
        <inputAssignments>
            <name>opRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>existingTaxId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingTaxLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>taxTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
