force-app/main/default/flows/WH1_Inv_Adjustment_Auto_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_outbound_to_Inbound</name>
        <label>Assign outbound to Inbound</label>
        <locationX>1018</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Assign outbound to Inbound</label>
        <locationX>1018</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 1 of Assign outbound to Inbound</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of Assign outbound to Inbound</label>
        <locationX>1458</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1458</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Assign outbound to Inbound</label>
        <locationX>1458</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1458</locationX>
        <locationY>2867</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unfinished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_3_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 1 of Copy 3 of Assign outbound to Inbound</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inbound_Aux_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 1 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>710</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq_minus_bsBucket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 2 of Assign outbound to Inbound</label>
        <locationX>1458</locationX>
        <locationY>3083</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1150</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq_m_bsBucket_m_auxFinished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_Assign_outbound_to_Inbound</name>
        <label>Copy 1 of Copy 3 of Assign outbound to Inbound</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Empty_Outbound_BS_Bucket_Assign</name>
        <label>Copy 1 of Empty Outbound BS Bucket_Assign</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 1 of Inbound WH1_Assign</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Outbound_AuxFinished_Assign</name>
        <label>Copy 1 of Outbound AuxFinished_Assign</label>
        <locationX>1458</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Outbound_Unfinished_Assign</name>
        <label>Copy 1 of Outbound Unfinished_Assign</label>
        <locationX>1458</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unfinished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unfinished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_outbound_to_Inbound</name>
        <label>Copy 2 of Assign outbound to Inbound</label>
        <locationX>1150</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1018</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 2 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1458</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Empty_Outbound_BS_Bucket_Assign</name>
        <label>Copy 2 of Empty Outbound BS Bucket_Assign</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Outbound_AuxFinished_Assign</name>
        <label>Copy 2 of Outbound AuxFinished_Assign</label>
        <locationX>1018</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_outbound_to_Inbound</name>
        <label>Copy 3 of Assign outbound to Inbound</label>
        <locationX>710</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Outbound_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Inbound_WH1_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Inbound_WH1_Assign</name>
        <label>Copy 3 of Copy 1 of Inbound WH1_Assign</label>
        <locationX>1018</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Outbound_BS_Bucket_Assign</name>
        <label>Empty Outbound BS Bucket_Assign</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inbound_Aux_Assign</name>
        <label>Inbound Aux_Assign</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_WH1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inbound_WH1_Assign</name>
        <label>Inbound WH1_Assign</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_BS_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_AuxFinished_Assign</name>
        <label>Outbound AuxFinished_Assign</label>
        <locationX>710</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aux_Finished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq_minus_bsBucket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_BS_Bucket_Assign</name>
        <label>Outbound BS Bucket_Assign</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Bucket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_Unfinished_Assign</name>
        <label>Outbound Unfinished_Assign</label>
        <locationX>1150</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unfinished_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_minus_aq_m_bsBucket_m_auxFinished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_WH1_Assign</name>
        <label>Outbound WH1_Assign</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Inventory_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WH1_IQA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Movement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42vAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__GL_Account_Variable_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3g000000J42wAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aq_minus_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Debit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Credit_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Q3g000000L73DEAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutboundIMforCreate.AcctSeedERP__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inbound_Aux_Assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_In_Other_Locations</name>
        <label>Any In Other Locations?</label>
        <locationX>952</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Drain_BS_bucket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pull_all_from_BS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>input_minus_aq</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_BS_Bucket_Assign</targetReference>
            </connector>
            <label>Pull all from BS</label>
        </rules>
        <rules>
            <name>Enough_at_Aux_Finished_and_BS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>auxFinished_plus_bs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>input_minus_aq</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BS_location_has_quantity</targetReference>
            </connector>
            <label>Enough at Aux Finished and BS</label>
        </rules>
        <rules>
            <name>Enough_at_all_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fin_plus_bs_plus_unfin</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>input_minus_aq</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_BS_location_has_quantity</targetReference>
            </connector>
            <label>Enough at all Locations</label>
        </rules>
    </decisions>
    <decisions>
        <name>BS_location_has_quantity</name>
        <label>BS location has quantity?</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Outbound_AuxFinished_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BS_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Outbound_BS_Bucket_Assign</targetReference>
            </connector>
            <label>BS greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_BS_location_has_quantity</name>
        <label>Copy 1 of BS location has quantity?</label>
        <locationX>1150</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Empty_Aux</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BS_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Empty_Outbound_BS_Bucket_Assign</targetReference>
            </connector>
            <label>Copy 1 of BS greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drain_Aux_Fin</name>
        <label>Drain Aux Fin</label>
        <locationX>1590</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>unfinished_has_quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AuxFin_has_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Outbound_AuxFinished_Assign</targetReference>
            </connector>
            <label>AuxFin has quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drain_BS_bucket</name>
        <label>Drain BS bucket</label>
        <locationX>1590</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Drain_Aux_Fin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BS_has_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BS_Bucket.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Empty_Outbound_BS_Bucket_Assign</targetReference>
            </connector>
            <label>BS has quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Aux</name>
        <label>Empty Aux</label>
        <locationX>1150</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Outbound_Unfinished_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aux_has_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Outbound_AuxFinished_Assign</targetReference>
            </connector>
            <label>Aux has quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>unfinished_has_quantity</name>
        <label>unfinished has quantity</label>
        <locationX>1590</locationX>
        <locationY>2651</locationY>
        <defaultConnector>
            <targetReference>Update_WH1_Deficit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unfinished_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unfinished_IQA.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Outbound_Unfinished_Assign</targetReference>
            </connector>
            <label>unfinished greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_bucket</name>
        <label>Which bucket?</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AQ_Greater_than_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WH1_IQA.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.WH1_Actual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WH1_Assign</targetReference>
            </connector>
            <label>AQ Greater than Input</label>
        </rules>
        <rules>
            <name>AQ_Less_than_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WH1_IQA.AcctSeedERP__Available_Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.WH1_Actual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BS_Bucket</targetReference>
            </connector>
            <label>AQ Less than Input</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>aq_minus_Input</name>
        <dataType>Number</dataType>
        <expression>{!Get_WH1_IQA.AcctSeedERP__Available_Quantity__c}-{!$Record.WH1_Actual__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>auxFinished_plus_bs</name>
        <dataType>Number</dataType>
        <expression>{!Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c} + {!Get_BS_Bucket.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fin_plus_bs_plus_unfin</name>
        <dataType>Number</dataType>
        <expression>{!Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c} + {!Get_Unfinished_IQA.AcctSeedERP__Available_Quantity__c} + {!Get_BS_Bucket.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>input_minus_aq</name>
        <dataType>Number</dataType>
        <expression>ABS({!$Record.WH1_Actual__c} - {!Get_WH1_IQA.AcctSeedERP__Available_Quantity__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>input_minus_aq_m_bsBucket_m_auxFinished</name>
        <dataType>Number</dataType>
        <expression>{!$Record.WH1_Actual__c} - {!Get_WH1_IQA.AcctSeedERP__Available_Quantity__c} - {!Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c} - {!Get_BS_Bucket.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>input_minus_aq_minus_bsBucket</name>
        <dataType>Number</dataType>
        <expression>{!$Record.WH1_Actual__c} - {!Get_WH1_IQA.AcctSeedERP__Available_Quantity__c} - {!Get_BS_Bucket.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>input_minus_everything</name>
        <dataType>Number</dataType>
        <expression>{!$Record.WH1_Actual__c} - {!Get_WH1_IQA.AcctSeedERP__Available_Quantity__c} - {!Get_Aux_Finished_IQA.AcctSeedERP__Available_Quantity__c} - {!Get_BS_Bucket.AcctSeedERP__Available_Quantity__c} - {!Get_Unfinished_IQA.AcctSeedERP__Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>WH1 Inv. Adjustment Auto Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WH1 Inv. Adjustment Auto Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1458</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1458</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1458</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_moveme</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1458</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 1 of Copy 1 of Inbound WH1 Create</label>
        <locationX>710</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 1 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>710</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Copy_3_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1150</locationX>
        <locationY>3083</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1150</locationX>
        <locationY>2867</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 1 of Inbound WH1 Create</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 1 of Outbound BS_Bucket</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1018</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1018</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 2 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1458</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 2 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1458</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Copy_1_of_Inbound_WH1_Create</name>
        <label>Copy 3 of Copy 1 of Inbound WH1 Create</label>
        <locationX>1018</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Copy_1_of_Outbound_BS_Bucket</name>
        <label>Copy 3 of Copy 1 of Outbound BS_Bucket</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inbound_Aux_Create</name>
        <label>Inbound Aux Create</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Add_Inbound_to_outbound_movement</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inbound_WH1_Create</name>
        <label>Inbound WH1 Create</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Add_Inbound_to_outbound_movement_2</targetReference>
        </connector>
        <inputReference>InboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Outbound_BS_Bucket</name>
        <label>Outbound BS_Bucket</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Outbound_WH1</name>
        <label>Outbound WH1</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_3_of_Assign_outbound_to_Inbound</targetReference>
        </connector>
        <inputReference>OutboundIMforCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Aux_Finished_IQA</name>
        <label>Get Aux Finished IQA</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_bucket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmKvAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BS_Bucket</name>
        <label>Get _BS_Bucket</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unfinished_IQA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PqQsAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unfinished_IQA</name>
        <label>Get Unfinished IQA</label>
        <locationX>952</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_In_Other_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a264w00000VT6uRAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t4w000004PmL0AAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WH1_IQA</name>
        <label>Get_WH1_IQA</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Aux_Finished_IQA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1t3g000004UhZMAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a263g000000Hi7FAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Inventory_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Inbound_to_outbound_movement</name>
        <label>Add Inbound to outbound movement</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Inbound_to_outbound_movement_2</name>
        <label>Add Inbound to outbound movement 2</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>578</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Outbound_AuxFinished_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 1 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>710</locationX>
        <locationY>2351</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1458</locationX>
        <locationY>2459</locationY>
        <connector>
            <targetReference>unfinished_has_quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_moveme</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1458</locationX>
        <locationY>3299</locationY>
        <connector>
            <targetReference>Update_WH1_Deficit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1150</locationX>
        <locationY>3191</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 2 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1458</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Drain_Aux_Fin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1018</locationX>
        <locationY>2459</locationY>
        <connector>
            <targetReference>Outbound_Unfinished_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Copy_1_of_Add_Inbound_to_outbound_movement_2</name>
        <label>Copy 3 of Copy 1 of Add Inbound to outbound movement 2</label>
        <locationX>1018</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Empty_Aux</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutboundIMforCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Inbound_Inventory_Movement__c</field>
            <value>
                <elementReference>InboundIMforCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Outbound_Inventory_Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WH1_Deficit</name>
        <label>Update WH1 Deficit</label>
        <locationX>1590</locationX>
        <locationY>3491</locationY>
        <inputAssignments>
            <field>WH1_Deficit__c</field>
            <value>
                <elementReference>input_minus_everything</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WH1_IQA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WH1_Actual__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WH1_Actual__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Inv_Adjustment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InboundIMforCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>OutboundIMforCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Outbound_Inventory_Movement__c</objectType>
    </variables>
</Flow>
